.hero.hero-edo
  .container.hero__container
    h1.hero__title Электронный документооборот

    .hero__inner

      .hero__content
        h2.hero__subtitle.hero__subtitle--desctop Как работает ЭДО
        p.hero__text Сервис электронного документооборота (ЭДО) помогает быстро обмениваться оригиналами документов без бумаги и посещений офиса или почтового отделения. Все документы, проходящие через ЭДО, подписываются электронно-цифровой подписью (ЭЦП) и имеют равнозначную силу их бумажным оригиналам.
        a.button.file.button--outline(href="" download) Скачать соглашение ЭДО

      .hero__point.hero-point
        h2.hero__subtitle.hero__subtitle--mobile Как работает ЭДО
        .hero-point__image
          img(src="./assets/img/edo/full.png")

        .hero-point__swiper.swiper

          ul.hero-point__list.swiper-wrapper

            li.hero-point__item.hero-point-item.swiper-slide
              .hero-point-item__image
                img(src="./assets/img/edo/01.png")
              u.hero-point-item__number 01
              span.hero-point-item__name Спирит-Бер
              p.hero-point-item__text формирует, подписывает ЭЦП и отправляет документ

            li.hero-point__item.hero-point-item.swiper-slide
              .hero-point-item__image
                img(src="./assets/img/edo/02.png")
              u.hero-point-item__number 02
              span.hero-point-item__name Оператор ЭДО
              p.hero-point-item__text передает документ

            li.hero-point__item.hero-point-item.swiper-slide
              .hero-point-item__image
                img(src="./assets/img/edo/03.png")
              u.hero-point-item__number 03
              span.hero-point-item__name Заказчик
              p.hero-point-item__text получает, проверяет и подписывает документ ЭЦП

          .swiper-pagination



