.container
  .hero.hero-service
    .hero__container
      span.hero__tag Металлообработка на заказ
      .hero__wrapper
        .hero-service__nav
          h1.hero-service__title Услуги
          ul.hero-service-nav__list

            li.hero-service-nav__item.js-service-active(data-tab="01")
              u.hero-service-nav__number 01
              span.hero-service-nav__name Лазерная резка

            li.hero-service-nav__item(data-tab="02")
              u.hero-service-nav__number 02
              span.hero-service-nav__name Гибка листового металла

            li.hero-service-nav__item(data-tab="03")
              u.hero-service-nav__number 03
              span.hero-service-nav__name Порошковая покраска

            li.hero-service-nav__item(data-tab="04")
              u.hero-service-nav__number 04
              span.hero-service-nav__name Слесарные работы

            li.hero-service-nav__item(data-tab="05")
              u.hero-service-nav__number 05
              span.hero-service-nav__name Металлоконструкции


        .hero-service__item.hero-service-item.js-service-active(data-content="01")
          .hero-service-item__image
            //img.static(src="./assets/img/service/01.jpg")
            img.animate(src="./assets/img/service/01.gif")
          .hero-service-item__info
            h2.hero-service-item__title Лазерная резка металла
            span.hero-service-item__price -- от 6,90 ₽ / метр
            p.hero-service-item__text Наша компания работает на профессиональном лазерном оборудовании LVD ORION 3015 PLUS и FIBER LCM R1530F, которое позволяет выполнять раскрой листового материала, профильных и круглых труб по низким ценам за счет своей высокой производительности и превосходному качеству работы.
            a(href="lazernaya-rezka-metalla.html").button.button--outline.arrow Подробнее

        .hero-service__item.hero-service-item(data-content="02")
          .hero-service-item__image
            //img.static(src="./assets/img/service/02.jpg")
            img.animate(src="./assets/img/service/02.gif")
          .hero-service-item__info
            h2.hero-service-item__title Гибка листового металла
            span.hero-service-item__price -- от 9 ₽ / гиб
            p.hero-service-item__text Гибка листового металла в нашей компании осуществляется на профессиональных ЧПУ станках DONPRESSMASH и ERMAKSAN. Высокоточная ЧПУ гибка позволяет максимально точно придать форму металлической листовой заготовке. Высокая производительность и программируемые настройки станков обеспечивают минимальные затраты на серийное производство и высокую повторяемость полученного результата.
            a(href="lazernaya-rezka-metalla.html").button.button--outline.arrow Подробнее

        .hero-service__item.hero-service-item(data-content="03")
          .hero-service-item__image
            //img.static(src="./assets/img/service/03.jpg")
            img.animate(src="./assets/img/service/03.gif")
          .hero-service-item__info
            h2.hero-service-item__title Порошковая покраска металла
            span.hero-service-item__price -- от 120 ₽ / метр <sup>2</sup>
            p.hero-service-item__text Порошковая покраска металлоизделий является практичным и долговечным решением. Цветовая палитра RAL обладает множеством оттенков различных цветов, также предоставляет выбор структуры порошковой краски. Для порошковой покраски металла наша компания использует профессиональные камеры порошкового напыления, печи полимеризации PHILIPS и пистолеты-распылители.
            a(href="lazernaya-rezka-metalla.html").button.button--outline.arrow Подробнее

        .hero-service__item.hero-service-item(data-content="04")
          .hero-service-item__image
            //img.static(src="./assets/img/service/04.jpg")
            img.animate(src="/assets/img/service/04.gif")
          .hero-service-item__info
            h2.hero-service-item__title Слесарные работы
            span.hero-service-item__price -- от 6000 ₽
            p.hero-service-item__text Наша компания работает на профессиональном лазерном оборудовании LVD ORION 3015 PLUS и FIBER LCM R1530F, которое позволяет выполнять раскрой листового материала, профильных и круглых труб по низким ценам за счет своей высокой производительности и превосходному качеству работы.
            a(href="lazernaya-rezka-metalla.html").button.button--outline.arrow Подробнее

        .hero-service__item.hero-service-item(data-content="05")
          .hero-service-item__image
            //img.static(src="./assets/img/service/05.jpg")
            img.animate(src="./assets/img/service/05.gif")
          .hero-service-item__info
            h2.hero-service-item__title Изготовление металлоконструкций
            span.hero-service-item__price -- от 6000 ₽
            p.hero-service-item__text Наша компания работает на профессиональном лазерном оборудовании LVD ORION 3015 PLUS и FIBER LCM R1530F, которое позволяет выполнять раскрой листового материала, профильных и круглых труб по низким ценам за счет своей высокой производительности и превосходному качеству работы.
            a(href="lazernaya-rezka-metalla.html").button.button--outline.arrow Подробнее








