.pagination
  button.pagination__prev

  button.pagination__item.js-pagination-active 1
  button.pagination__item 2
  button.pagination__item 3
  button.pagination__item 4
  button.pagination__item ...
  button.pagination__item 8

  button.pagination__next
