ul.pagination
  // Шаблон (элементы добавляются через js)
  //li.pagination__item.pagination__prev.js-pagination-disable
  //
  //li.pagination__item.js-pagination-current.js-pagination-active 1
  //li.pagination__item 2
  //li.pagination__item.pagination__item--dots ...
  //li.pagination__item 7
  //
  //li.pagination__item.pagination__next
