.footenote
  site.footenote__item
    sup 1
    | Цена указана на лазерную резку воздухом при длине реза от 5 000 метров. Минимальная сумма заказа на лазерную резку 5 000 рублей.
  site.footenote__item
    sup 2
    | Цена рассчитывается индивидуально на каждый заказ и зависит от объемов, сложности конструкции и требуемых сроков изготовления.
  span.footenote__pricing
    svg(width="16" height="16" fill='currentColor')
      use(href='./assets/img/sprite.svg#question')
    | Как формируется цена
