.production
  background: radial-gradient(circle, rgba($accent, 0.5) 0%, rgba(0,0,0,0) 50%)
  @media (max-width: 768px)
    background: linear-gradient(180deg, rgba(44,227,255,0) 15%, rgba(44,227,255,0.14) 27%, rgba(44,227,255,0.27) 43%, rgba(44,227,255,0.3) 55%, rgba(44,227,255,0.24) 61%, rgba(44,227,255,0.05) 74%, rgba(44,227,255,0) 100%)

  &__container
    text-align: center
    gap: 30px
    @media (max-width: $width-mobile)
      display: flex
      flex-direction: column
      //margin-left: -50px
      //margin-right: -50px
    @media (max-width: 768px)
      //margin-left: -20px
      //margin-right: -20px

  h2
    grid-column: 1 / -1
    margin-bottom: 0

  .button
    grid-column: 1 / -1
    margin: 0 auto 50px
    @media (max-width: $width-mobile)
      order: 1
      margin: 0 auto

  &__values
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column: span 5
    gap: 45px 60px
    @media (max-width: $width-mobile)
      padding: 0 20px
    @media (max-width: 768px)
      gap: 30px

  &-value
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 12px


    &__number
      font-family: 'SpaceGrotesk', sans-serif
      font-size: clamp(48px, calc(48px + (64 - 48) * ((100vw - 768px) / (1920 - 768))), 64px)
      line-height: 1
      color: $accent
    &__text
      font-size: clamp(16px, calc(16px + (24 - 16) * ((100vw - 768px) / (1920 - 768))), 24px)
      & i
        display: block
        font-size: clamp(12px, calc(12px + (20 - 12) * ((100vw - 768px) / (1920 - 768))), 20px)
        color: #A7A7A7
        font-style: normal

  &__video-wrapper
    position: relative
    grid-column: 6 / span 7
    max-width: 925px
    width: 100%
    height: 100%
    min-height: 500px
    align-self: center
    border-radius: 4px
    cursor: pointer
    overflow: hidden
    @media (max-width: 1200px)
      min-height: 400px
    @media (max-width: 768px)
      margin: 30px 0 0
      min-height: 300px
    @media (max-width: 480px)
      min-height: 250px
    @media (max-width: 400px)
      min-height: 200px


  &__advantages-wrapper
    grid-column: 1 / -1
    @media (max-width: 768px)
      grid-column: initial

  &__advantages
    margin-top: 80px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr))
    @media (max-width: 768px)
      display: flex
      margin-top: 40px

  &__advantage
    display: flex
    flex-direction: column
    align-items: center
    gap: 20px
    padding: 40px
    @media (max-width: $width-mobile)
      gap: 26px
      padding: 20px
    img
      width: auto
      height: 160px
      object-fit: cover


