.faq
  .container.faq__container
    h2.title-section Частые вопросы

    .accordion
      .accordion__container
        ul.accordion__list

          li.accordion__item
            p.accordion__title У меня срочный заказ. Можно ли запустить его сегодня?
              u.accordion__number 01
              svg(width="10" height="19" fill="currentColor")
                use(href='assets/img/sprite.svg#arrow-right')
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

          li.accordion__item
            p.accordion__title Есть ли у Вас доставка?
              u.accordion__number 02
              svg(width="10" height="19" fill="currentColor")
                use(href='assets/img/sprite.svg#arrow-right')
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

          li.accordion__item
            p.accordion__title Какой у Вас минимальная стоимость на раскрой лазером?
              u.accordion__number 03
              svg(width="10" height="19" fill="currentColor")
                use(href='assets/img/sprite.svg#arrow-right')
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

          li.accordion__item
            p.accordion__title Работаете ли Вы с давальческим сырьем?
              u.accordion__number 04
              svg(width="10" height="19" fill="currentColor")
                use(href='assets/img/sprite.svg#arrow-right')
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

          li.accordion__item
            p.accordion__title У меня срочный заказ. Можно ли запустить его сегодня?
              u.accordion__number 05
              svg(width="10" height="19" fill="currentColor")
                use(href='assets/img/sprite.svg#arrow-right')
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

          li.accordion__item
            p.accordion__title У меня нет чертежей, но есть образец. Можно ли по нему изготовить изделие?
              u.accordion__number 06
              svg(width="10" height="19" fill="currentColor")
                use(href='assets/img/sprite.svg#arrow-right')
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

          li.accordion__item
            p.accordion__title Могу ли я заказать образцы изделий бесплатно?
              u.accordion__number 07
              svg(width="10" height="19" fill="currentColor")
                use(href='assets/img/sprite.svg#arrow-right')
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.


