.faq#laser-cutting-faq
  .container.faq__container
    h2.title-section Частые вопросы

    .accordion
      .accordion__container
        ol.accordion__list

          li.accordion__item
            p.accordion__title У меня срочный заказ. Можно ли запустить его сегодня?
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

          li.accordion__item
            p.accordion__title Есть ли у Вас доставка?
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

          li.accordion__item
            p.accordion__title Какой у Вас минимальная стоимость на раскрой лазером?
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

          li.accordion__item
            p.accordion__title Работаете ли Вы с давальческим сырьем?
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

          li.accordion__item
            p.accordion__title У меня срочный заказ. Можно ли запустить его сегодня?
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

          li.accordion__item
            p.accordion__title У меня нет чертежей, но есть образец. Можно ли по нему изготовить изделие?
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

          li.accordion__item
            p.accordion__title Могу ли я заказать образцы изделий бесплатно?
            p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.


