.container.container-width-full
  .hero.hero-prices(style="background-image: url('')")
    .hero__container
      span.hero__tag Цены
      h1.hero__title Стоимость металлообработки
      p.hero__text Наши специалисты регулярно проводят мониторинг цен и условий работы на рынке услуг по металлообработке, что позволяет нам поддерживать конкурентоспособность и клиентоориентированность. Стоимость лазерной резки металла за метр от 11 руб. - одно из самых выгодных предложений в Москве.
      p.hero__text Работая с нами, наши клиенты получают не только выгодные цены на металлообработку, но и качественный сервис, начиная с приема заказа до получения готовой продукции. Менеджеры нашей компании консультируют клиентов по всем возникшим вопросам и предлагают наилучший вариант для реализации поставленных задач.
      a.button.button--outline(href="" download)
        svg(width="14" height="16" fill='currentColor')
          use(href='./assets/img/sprite.svg#file')
        | Скачать прайс на все услуги

      mixin anchorItem(id, name)
        td.hero-anchor__item
          a.hero-anchor__link(href=id)=name

      table.hero__anchor.hero-anchor
        tbody
          tr
            +anchorItem('', 'Лазерная резка металла')
            +anchorItem('', 'Гибка листового металла')
            +anchorItem('', 'Порошковая покраска')
          tr
            +anchorItem('', 'Слесарные работы')
            +anchorItem('', 'Изготовление металлоконструкций')








