.feedback.feedback-blog
  .feedback__container.container

    .feedback__content
      h3.feedback__title Задать вопрос
      .feedback__text-wrapper
        p.feedback__text Как принято считать, акционеры крупнейших компаний будут ассоциативно распределены по отраслям.
        p.feedback__text Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме.
        p.feedback__text Таким образом, начало повседневной работы по формированию позиции позволяет выполнить важные задания по разработке поэтапного и последовательного развития общества.

    form.feedback__form.feedback-form(method='POST' action='' enctype="multipart/form-data" autocomplete="off")

      .feedback-form__input-container
        h3.feedback-form__input-title Прикрепите файлы
        .feedback-form__upload.feedback-form-upload
          svg.feedback-form-upload__icon(width="24" height="19" fill="#fff")
            use(href='assets/img/sprite.svg#drop')
          input#inputfile.feedback-form-upload__input.visually-hidden(type="file" name="file" multiple accept=".pdf, .doc, .rtf, .jpg, .jpeg, .png" onchange="handleFiles(this.files)")
          label.feedback-form-upload__label(for='inputfile') Перетащите сюда файл для загрузки
          u или выберите его в проводнике
        site.feedback-form__input-note Размер файлов не более 150 мб. Допустимые форматы: .pdf, .doc, .rtf, .jpg, .png

      +inputName
      +inputTel
      +inputText
      +sending
