.feedback.feedback-blog
  .feedback__container.container

    .feedback__content
      h3.feedback__title Задать вопрос
      .feedback__text-wrapper
        p.feedback__text Как принято считать, акционеры крупнейших компаний будут ассоциативно распределены по отраслям.
        p.feedback__text Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме.
        p.feedback__text Таким образом, начало повседневной работы по формированию позиции позволяет выполнить важные задания по разработке поэтапного и последовательного развития общества.

    form.feedback__form.feedback-form(method='POST' action='' enctype="multipart/form-data" autocomplete="off")
      +inputName
      +inputTel
      +inputText
      +sending

      .feedback-form__input-container
        input#inputdrop(type="file" name="file" multiple)
        label(for="inputdrop") Перетащите сюда файл для загрузки
        span или выберите его в проводнике
