.gear.js-gear_category_swiper#laser-cutting-portfolio
  h2.title-section Оборудование
  .gear__category(data-gearCategory="Установка для лазерной резки")
    .gear__category-head.gear__head.js-gear-internal_slider
      .gear__head-subtitle Оборудование
      .gear__head-title Установка для<br/> лазерной резки
      ul.swiper-no-swiping.gear__list.js-gear_item_slider_controls
        li.gear__list-item.active(data-gearitem_control="1_0" data-number-gear="1") FIBER LCM R1530F
        li.gear__list-item(data-gearitem_control="1_1" data-number-gear="2") LVD ORION 3015 PLUS
      .gear__buttons
        a.button.button--outline.arrow.gear__buttons-item(href="" target="_blank" ) Смотреть услугу
        button.button.button--bg-grey.gear__buttons-item.js-gearPopupBtnActive(data-target="") Характеристики
      .gear__items.js-gear_item_slider
        .gear__items-slide.js-placeGearPopups
          include ../../img/gear/1_1.svg
          <img class="-mobile" src="./assets/img/gear/1_1_mobile.webp" />
          .gear__popups
            .gear__popups-item.js-gear_popup(data-position="left")
              .gear__popups-item-title Максимальный размер листа
              .gear__popups-item-text Станок обрабатывает заготовки габаритами до 3000х1500 мм
            .gear__popups-item.js-gear_popup(data-position="top")
              .gear__popups-item-title Высокоточный луч
              .gear__popups-item-text Точность реза луча +/-&nbsp;0,02&nbsp;мм
            .gear__popups-item.js-gear_popup(data-position="bottom")
              .gear__popups-item-title Мощный лазер
              .gear__popups-item-text Лазер мощностью более 8000&nbsp;кВт

  include gear-popup/gear-laser-cutting-popup
