.page404
  .container.page404__container
    .page404__content
      .page404__tag 404
      .page404__title Такой страницы
        br
        |не существует
      a.button.button--outline(href="index.html") Вернуться на главную
