mixin equipmentSlidePaginationItem (num, name)
  li.equipment-slide-pagination__item
    u.equipment-slide-pagination__number=num
    span.equipment-slide-pagination__name=name

.equipment
  .container.equipment__container
    .equipment__tag Оборудование
    .equipment__slider.equipment-slider


      .equipment-slider__item.equipment-slide

        .equipment-slide__title Установка для лазерной резки

        ul.equipment-slide__pagination.equipment-slide-pagination
          +equipmentSlidePaginationItem('01', 'FIBER LCM R1530F')
          +equipmentSlidePaginationItem('02', 'LVD ORION 3015 PLUS')

        .equipment-slide__machine.equipment-slide-machine__list

          .equipment-slide-machine__item
            //include ../../img/equipment/machine-1-1.svg
            //include ../../img/equipment/machine-1-1.svg
            .equipment-slide-machine__image
              img(src="assets/img/equipment/01.png")
            .equipment-slide-machine__mark-wrapper
              span.equipment-slide-machine__mark
              p.equipment-slide-machine__mark-title Максимальный размер листа
              p.equipment-slide-machine__mark-text Станок принимает заготовки габаритами до 3000х1500 мм


            .equipment-slide__links
              a(href="").button.button--outline.arrow Смотреть услугу
              a(href="").button.button--bg-grey Характеристики



