.hero.hero--index(style="background-image: url('./assets/img/bg-hero.png')")
  //video.hero__video(preload='auto' autoplay muted loop)
  //  source(src='./assets/video/video1.mp4' type='video/mp4')
  .container.hero__container

    .hero__slider.hero-slider

      span.hero__tag Металлообработка в Москве

      ul.hero-slider__pagination.hero-slider-pagination

        li.hero-slider-pagination__item.js-hero-active(data-pagination="1")
          u.hero-slider-pagination__number 01
          span.hero-slider-pagination__name Лазерная резка

        li.hero-slider-pagination__item(data-pagination="2")
          u.hero-slider-pagination__number 02
          span.hero-slider-pagination__name Гибка листового металла

        li.hero-slider-pagination__item(data-pagination="3")
          u.hero-slider-pagination__number 03
          span.hero-slider-pagination__name Порошковая покраска

        li.hero-slider-pagination__item(data-pagination="4")
          u.hero-slider-pagination__number 04
          span.hero-slider-pagination__name Слесарные работы

        li.hero-slider-pagination__item(data-pagination="5")
          u.hero-slider-pagination__number 05
          span.hero-slider-pagination__name Металлоконструкции

      .hero-slider__nav.hero-slider-nav
        .slider-nav__prev
        .slider-nav__next

      .hero-slider__item.hero-slide.js-hero-active(data-slide="1")
        h3.hero-slide__title Лазерная резка
        span.hero-slide__price -- ОТ 9 Р / гиб
        p.hero-slide__description Гибка 1 листового металла в нашей компании осуществляется на профессиональных ЧПУ станках DONPRESSMASH и ERMAKSAN. Высокоточная ЧПУ гибка позволяет максимально точно придать форму металлической листовой заготовке. Высокая производительность и программируемые настройки станков обеспечивают минимальные затраты на серийное производство и высокую повторяемость полученного результата.
        .hero-slide__links
          a(href="").button.button--bg-accept Заказать услугу
          a(href="").button.button--outline.arrow Подробнее

      .hero-slider__item.hero-slide(data-slide="2")
        h3.hero-slide__title Гибка листового металла
        span.hero-slide__price -- ОТ 9 Р / гиб
        p.hero-slide__description Гибка 2 листового металла в нашей компании осуществляется на профессиональных ЧПУ станках DONPRESSMASH и ERMAKSAN. Высокоточная ЧПУ гибка позволяет максимально точно придать форму металлической листовой заготовке.
        .hero-slide__links
          a(href="").button.button--bg-accept Заказать услугу
          a(href="").button.button--outline.arrow Подробнее

      .hero-slider__item.hero-slide(data-slide="3")
        h3.hero-slide__title Порошковая покраска
        span.hero-slide__price -- ОТ 9 Р / гиб
        p.hero-slide__description Гибка 3 листового металла в нашей компании осуществляется на профессиональных ЧПУ станках DONPRESSMASH и ERMAKSAN. Высокоточная ЧПУ гибка позволяет максимально точно придать форму металлической листовой заготовке. Высокая производительность и программируемые настройки станков обеспечивают
        .hero-slide__links
          a(href="").button.button--bg-accept Заказать услугу
          a(href="").button.button--outline.arrow Подробнее

      .hero-slider__item.hero-slide(data-slide="4")
        h3.hero-slide__title Слесарные работы
        span.hero-slide__price -- ОТ 9 Р / гиб
        p.hero-slide__description Гибка 4 листового металла в нашей компании осуществляется на профессиональных ЧПУ станках DONPRESSMASH и ERMAKSAN. Высокоточная ЧПУ гибка позволяет максимально точно придать форму металлической листовой заготовке. Высокая производительность и программируемые настройки станков обеспечивают минимальные затраты на серийное производство и высокую повторяемость полученного результата.
        .hero-slide__links
          a(href="").button.button--bg-accept Заказать услугу
          a(href="").button.button--outline.arrow Подробнее

      .hero-slider__item.hero-slide(data-slide="5")
        h3.hero-slide__title Металлоконструкции
        span.hero-slide__price -- ОТ 9 Р / гиб
        p.hero-slide__description Гибка 5 листового металла в нашей компании осуществляется на профессиональных ЧПУ станках DONPRESSMASH и ERMAKSAN. Высокоточная ЧПУ гибка позволяет максимально точно придать форму металлической листовой заготовке. Высокая производительность и программируемые настройки станков обеспечивают минимальные
        .hero-slide__links
          a(href="").button.button--bg-accept Заказать услугу
          a(href="").button.button--outline.arrow Подробнее

