.hero.hero--index
  position: relative
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  height: 100vh
  min-height: 768px
  &:after,
  &:before
    content: ""
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    z-index: 1
  &:after
    background: linear-gradient(90deg, #191111 0%, #191111 19.89%, rgba(25, 17, 17, 0.74) 32.48%, rgba(25, 17, 17, 0) 42.62%, rgba(25, 17, 17, 0) 52.07%, rgba(25, 17, 17, 0) 63.05%, rgba(25, 17, 17, 0.74) 70.5%, rgba(25, 17, 17, 0.938067) 75.63%, #191111 100%)
    mix-blend-mode: darken
    backdrop-filter: blur(2px)
    opacity: 0.6
  &::before
    background: linear-gradient(180deg, rgba(#fff,0) 30%, rgba($bg-black,1) 100%)


  @media (max-width: 900px)
    &::after
      background-color: rgba(#000, 0.7)
      mix-blend-mode: initial
      backdrop-filter: initial
  .hero

    &__container
      position: relative
      display: flex
      align-items: center
      height: 100%
      z-index: 2
      @media (max-width: 480px)
        bottom: 50px
        align-items: flex-end

    &-slider
      position: relative
      width: 100%
      max-width: 1700px
      display: grid
      grid-template-columns: auto 370px
      //grid-template-rows: auto auto
      @media (max-width: 900px)
        grid-template-columns: 1fr

      .hero__tag
        grid-row: span 1
        align-self: end
        margin-bottom: 20px
        @media (max-width: 900px)
          grid-row: 2 / span 1


    &-slider-pagination
      grid-column: 1 span
      grid-row: 2 / span 1
      display: flex
      flex-direction: column
      transform: translateX(-50px)
      width: fit-content
      @media (max-width: 1200px)
        transform: translateX(-20px)
      @media (max-width: 900px)
        display: none

      &__item
        display: flex
        gap: 20px
        align-items: center
        cursor: pointer
        &.js-hero-active .hero-slider-pagination__name
          border-left: 2px solid $accent
          color: $white
        &.js-hero-active .hero-slider-pagination__number
          color: $accent
        &:hover .hero-slider-pagination__name
          color: $white
        @media (max-width: 900px)
          display: none
          gap: 10px
          &.js-hero-active
            display: flex

      &__number
        font-family: 'SpaceGrotesk', sans-serif
        color: rgba($accent, 0.4)
        font-size: 24px
        text-decoration: none
        min-width: 30px

      &__name
        padding: 14px 20px
        @include fontSize(25, 40)
        color: rgba($white, 0.4)
        border-left: 2px solid transparent
        transition: border 0.5s ease-out


    &-slider-nav
      position: relative
      grid-column: 2 / 1 span
      display: flex
      gap: 24px
      margin-bottom: 24px
      @media (max-width: 900px)
        grid-column: 1 / -1
        grid-row: span 1
        margin-left: 0
      .slider-nav__prev,
      .slider-nav__next
        position: relative
        transform: initial
        top: initial



    &-slide
      position: relative
      //position: absolute
      grid-column: 2 / 1 span
      grid-row: 2 / span 1
      display: none
      flex-direction: column
      gap: 16px
      margin-left: auto
      &.js-hero-active
        display: flex
      @media (min-width: 900px)
        &::before
          position: absolute
          content: ""
          width: 1px
          background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%)
          //height: 150%
          height: 80vh
          top: -30%
          left: -40px
          opacity: 0.7

      @media (max-width: 900px)
        grid-column: 1 / -1
        grid-row: 3 / span 1
        width: auto
        margin: 0 auto
      @media (min-width: 480px)
        position: absolute

      &__title
        font-size: 24px
        font-weight: 500

      &__price
        color: $accent
        font-size: 20px

      &__description
        font-size: 16px
        line-height: 1.7
        @media (max-width: 900px)
          display: -webkit-box
          -webkit-line-clamp: 6
          -webkit-box-orient: vertical
        @media (max-width: 480px)
          -webkit-line-clamp: 3

      &__links
        display: flex
        gap: 16px
        flex-wrap: wrap
        align-items: center
        margin-top: 10px
        @media (min-width: 900px)
          justify-content: space-between

