.portfolio
  &__item
    display: flex
    flex-direction: column
    gap: 12px
    text-align: left
    padding-bottom: 12px
    cursor: pointer
    &:hover .portfolio__image-wrapper img
      transform: scale(1.2)
    &:hover .portfolio__image-wrapper
      box-shadow: $shadow-card
    @media (max-width: 480px)
      &:nth-child(5),
      &:nth-child(6)
        display: none
    &.js-active .portfolio-popup__item
      display: block

  &__image-wrapper
    overflow: hidden
    aspect-ratio: 55 / 43
    background: radial-gradient(68.25% 68.25% at 43.57% 31.75%, rgba(71, 75, 77, 0) 0%, rgba(71, 76, 78, 0.176327) 55.82%, rgba(37, 55, 63, 0.75) 100%), #BFC4C6
    padding: 32px
    border-radius: 4px
    @media (max-width: 768px)
      aspect-ratio: 1 / 1

    img
      width: 100%
      height: 100%
      object-fit: cover
      transition: 0.5s ease

  &__title
    font-size: clamp(14px, calc(14px + (20 - 14) * ((100vw - 768px) / (1920 - 768))), 20px)
    line-height: 1.7

  &-tags
    display: flex
    flex-wrap: wrap
    gap: 12px
    font-size: 12px
    @media (max-width: $width-mobile)
      font-size: 10px
    @media (max-width: 480px)
      margin-top: auto
  &-tags__item
    position: relative
    display: flex
    align-items: center
    justify-content: center
    gap: 6px
    padding: 4px 8px
    //border: 1px solid rgba(#fff, 0.3)
    //border-radius: 32px
    &::before
      content: ""
      display: inline-block
      width: 6px
      height: 6px
      border-radius: 50%
      transition: 0.3s ease
    &:hover::before
      filter: blur(1px)
    &.tag-grey::before
      background-color: #BABABA
    &.tag-orange::before
      background-color: #FF7733
    &.tag-fio::before
      background-color: #933EFF
    &.tag-lightblue::before
      background-color: #24E5FF
    &.tag-pink::before
      background-color: #FF5BEF

  &__description
    font-size: clamp(14px, calc(14px + (16 - 14) * ((100vw - 768px) / (1920 - 768))), 16px)
    line-height: 1.5
    @media (max-width: 480px)
      display: none

  .portfolio-popup
    &__item
      display: none
      position: fixed
      background-color: rgba(#0B0D0E, 0.9)
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 2000
      padding: 50px 100px
      overflow-y: auto
      overflow-x: hidden
      transition: all 0.5s ease 0s
      overscroll-behavior: contain
      @media (max-width: 1200px)
        padding: 50px
      @media (max-width: 768px)
        padding: 20px 0


    &__wrapper
      width: 100%
      max-width: 1530px
      max-height: 900px
      height: 90vh
      display: grid
      grid-template-columns: 70% 30%
      grid-template-rows: 80% 20%
      background-color: rgba($frosted-bottom, 0.7)
      overflow: hidden
      margin: 0 auto
      border-radius: 8px
      box-shadow: inset 0px 0px 3px rgba(113, 200, 255, 0.24)
      filter: drop-shadow(0px 251px 100px rgba(24, 26, 27, 0.04)) drop-shadow(0px 141px 85px rgba(24, 26, 27, 0.13)) drop-shadow(0px 63px 63px rgba(24, 26, 27, 0.21)) drop-shadow(0px 16px 34px rgba(24, 26, 27, 0.25)) drop-shadow(0px 0px 0px rgba(24, 26, 27, 0.25))

      .swiper-slide
        img
          width: 100%
          height: 100%
          object-fit: cover

    &__swiper
      grid-column: span 1
      overflow: hidden

    &__swiper--top
      background: radial-gradient(68.25% 68.25% at 43.57% 31.75%, rgba(71, 75, 77, 0) 0%, rgba(71, 76, 78, 0.176327) 55.82%, rgba(37, 55, 63, 0.75) 100%), #BFC4C6
      padding: 50px

    &__swiper--thumbs
      padding: 25px 50px
      grid-row: 2 / span 1
      background-color: rgba($frosted-top, 0.7)

      .swiper-slide
        max-width: 180px
        width: auto
        background-color: #fff
        border-radius: 12px
        padding: 10px
        aspect-ratio: 3 / 2

    &__description
      padding: 40px


