.portfolio

  &__container
    display: flex
    flex-direction: column
    text-align: center
    align-items: center
    @media (max-width: $width-mobile)
      gap: 30px

  .button
    margin-bottom: 80px
    @media (max-width: $width-mobile)
      order: 1
      margin-bottom: 0

  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 80px 40px
    @media (max-width: $width-mobile)
      grid-template-columns: repeat(2, 1fr)
      gap: 20px 12px




