.portfolio
  .container.portfolio__container
    h2.title-section Примеры работ
    a(href="").button.button--outline Смотреть портфолио

    ul.portfolio__list

      include ../_items/portfolio-item/portfolio-item



