.advantages#laser-cutting-advantage
  .container.advantages__container
    h2.title-section Преимущества

    ul.advantages__list
      include ../_items/advantages/advantages-laser-cutting/advantages-laser-cutting


