.image-text
  .image-text__container

    h2.image-text__title.image-text__title--mobile По химическому составу
    .image-text__image
      img(src='./assets/img/blog-post/03.png')

    .image-text__content
      h2.image-text__title.image-text__title--desctop По химическому составу
      p.image-text__subtitle По химическому составу сталь подразделяется на три вида: углеродистые и легированные.
      .image-text__description
        p.image__text__text Углеродистые стали применяют в эксплуатационных условиях, легированные используют при высоких температурах и в агрессивных средах. Эти типы стали подразделяют еще на несколько видов:
        ul.image-text__list.image-text-list
          li.image-text-list__item низкоуглеродистые – содержат менее 0,3%C;
          li.image-text-list__item среднеуглеродистые – содержание C в интервале 0,3-0,7%;
          li.image-text-list__item высокоуглеродистые – доля углерода превышает 0,7%.
        p.image__text__text Содержание углерода сильно влияет на технические характеристики. Чем больше его в сплаве, тем тверже и более хрупок материал. Увеличение концентрации углерода приводит к снижению способности стали к деформации в горячем и холодном состояниях. Для холодной штамповки выбирают сплавы, в которых содержание углерода более 1 %.
