.image-text

  &__container
    max-width: 1320px
    min-width: 280px
    padding: 0 160px
    box-sizing: content-box
    margin: 0 auto
    display: flex
    gap: 40px
    align-items: center
    @media (max-width: $width-mobile)
      flex-direction: column
      padding: 0 50px
      gap: 20px
    @media (max-width: 768px)
      padding: 0 20px

  ol
    list-style-type: decimal

  &__image
    position: relative
    flex: 0 1 50%
    align-self: stretch
    max-height: 660px
    border-radius: 4px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
    @media (max-width: 1400px)
      grid-column: span 6
    @media (max-width: $width-mobile)
      grid-column: 1 / -1

  &__content
    flex: 0 1 50%


  &__title
    @include fontSize(18, 40)
    margin-bottom: 12px
    &--mobile
      display: none
    @media (max-width: $width-mobile)
      &--desctop
        display: none
      &--mobile
        text-align: center
        display: block
        order: 1

  &__description
    display: flex
    flex-direction: column
    gap: 24px
    @media (max-width: $width-mobile)
      gap: 12px

  &__text
    @include fontSize(14, 16)
    &:not(:last-child)
      margin-bottom: 20px

  &__list
    display: flex
    flex-direction: column
    gap: 12px
    list-style-type: disc
    padding-left: 25px
    &--number
      list-style-type: decimal


  // col3
  &.col3

    .image-text



      &__container
        flex-direction: column
      &__top
        box-sizing: content-box
        margin: 0 auto
        display: flex
        gap: 40px
        align-items: center
        @media (max-width: $width-mobile)
          flex-direction: column
          padding: 0 50px
          gap: 20px
        @media (max-width: 768px)
          padding: 0 20px

      &__title
        &:not(:first-child)
          margin-top: 32px
        &:not(:last-child)
          margin-bottom: 16px

      &__swiper
        width: 100%
        @media (max-width: 768px)
          order: -1
          overflow: hidden

        .swiper-pagination
          margin-top: 0
          bottom: 40px

      &-cols
        @media (min-width: 768px)
          margin-top: 80px
          display: flex
          gap: 40px
          flex: 0 1 100%
          justify-content: space-between

      &-fact__list
        width: 100%
        display: flex
        @media (max-width: 768px)

      &-fact__item
        @include fontSize(14, 16)
        @media (min-width: 768px)
          flex: 0 0 30%
        @media (max-width: 768px)
          padding: 12px 12px 50px
          color: rgba($text, 0.6)
          background-color: $frosted-top
          box-shadow: $shadow-block
          border-radius: 8px


  &.image-text--reverse
    display: flex
    flex-direction: column
    gap: clamp(32px, calc(32px + (80 - 32) * ((100vw - 768px) / (1920 - 768))), 80px)

    .image-text
      &__container:nth-child(even)
        flex-direction: row-reverse
      &__container,
      &__container:nth-child(even)
        @media (max-width: $width-mobile)
          flex-direction: column-reverse
          gap: 32px

      &__content
        display: flex
        flex-direction: column
        gap: 32px
        @media (max-width: $width-mobile)
          gap: 20px

      &__title
        @include fontSize(24, 40)
        line-height: 1.4
        font-weight: 500
        color: $text
        margin-bottom: 0


      &__subtitle
        @include fontSize(16, 20)
        &--accent
          color: $accent
        &--bigger
          @include fontSize(18, 24)











