.image-text.image-text--reverse

  .image-text__container
    .image-text__content
      h2.image-text__title.image-text__title--desctop Плюсы и минусы стальных сплавов
      .image-text__description

        p.image-text__subtitle.image-text__subtitle--bigger Как и любой материал класса металлов, сталь имеет как преимущества, так и недостатки.

        p.image-text__list-title Основные преимущества:

        ul.image-text__list.image-text-list
          li.image-text-list__item прочность;
          li.image-text-list__item твердость;
          li.image-text-list__item вязкость;
          li.image-text-list__item упругость;
          li.image-text-list__item доступность для разных методов обработки;
          li.image-text-list__item износоустойчивость.

      a.button.arrow.button--outline Смотреть портфолио


    h2.image-text__title.image-text__title--mobile Плюсы и минусы стальных сплавов
    .image-text__image
      img(src='./assets/img/blog-post/01.png')

  .image-text__container
    .image-text__content
      h2.image-text__title.image-text__title--desctop Разновидности стали
      .image-text__description

        p.image-text__subtitle.image-text__subtitle--accent Черная металлургия производит множество видов стали с разнообразными характеристиками.

        p.image-text__text Основным отличием стали от других металлов является плотность, теплоемкость и температура плавления. Материалы классифицируют по разным признакам, таким как химический состав, качество и назначение, степени окисления, структуре и способу производства. Условия применения стали предъявляют разные требования и параметры к ее физико-химическим свойствам. В связи с этим в состав сплава могут вводиться различные лигатуры, уменьшая долю железа. Поэтому существует уточненное определение стали – это сплав железа и углерода, но при этом массовая доля железа должна составлять не менее 45%.

    h2.image-text__title.image-text__title--mobile Разновидности стали
    .image-text__image
      img(src='./assets/img/blog-post/02.png')



