.image-text.col3
  .image-text__container
    .image-text__top
      .image-text__image
        img(src='./assets/img/service/06.jpg')
      .image-text__content
        h3.image-text__title Металлообработка на закакз
        p.image__text__text Металлообработка на заказ является одной из самых востребованных услуг в промышленной сфере. Ключевым направлением компании «Спирит-Бер» является предоставление услуг по металлообработке полного цикла.
        p.image__text__text Нашими услугами пользуются компании различных отраслей. Низкая цена на металлообработку, высокое качество и индивидуальный подход позволяет нам привлекать новых и успешно поддерживать наших клиентов.
        p.image__text__text Постоянное совершенствование производственных процессов, оптимизация издержек и ориентация на клиентов обеспечивают компании непрерывный рост и развитие в нашей сфере. Ежегодно мы наращиваем и укрепляем свои производственные мощности, повышаем уровень квалификации своих сотрудников и устанавливаем прочные взаимоотношения с поставщиками.

        h3.image-text__title Мы ценим наших клиентов не только на словах
        p.image__text__text В компании действует гибкое ценообразование и индивидуальная система скидок. Как для новых, так и для постоянных наших клиентов мы предоставляем выгодные условия по цене и срокам производства.
        p.image__text__text Время наших клиентов – самый главный критерий в нашей работе. Специалисты нашей компании нацелены не только на оперативное производство, но и быстрый расчет заявок клиентов.

    .image-text__swiper.swiper
      ul.image-text-cols.image-text__fact-list.image-text-fact__list.swiper-wrapper
        li.image-text-fact__item.swiper-slide Наша компания нацелена на предоставление качественных услуг и продукции промышленным, обрабатывающим, торговым, сельскохозяйственным, научным, научно-производственным, строительным компаниям. Широкий спектр наших клиентов и партнеров обуславливается всесторонним развитием компании, предоставляющей производственные услуги для различных отраслей и сфер деятельности.
        li.image-text-fact__item.swiper-slide Компания на регулярной основе изучает инновации в сфере металлообработки и приобретает передовое оборудование, отвечающее запросам потребителей рынка. Ежегодно компания развивает и приумножает доступные ей направления работы в сфере металлообработки, вкладывается в профессиональный рост своих сотрудников и улучшение качества обслуживания клиентов.
        li.image-text-fact__item.swiper-slide Партнерами и поставщиками Спирит-Бер являются крупнейшие российские компании, связанные с металлообрабатывающей сферой. Целью Спирит-Бер является предоставить своим клиентам удобный сервис и выгодные условия при приемлемых ценах.

      .swiper-pagination
