.image-text
  .image-text__container
    .image-text__image
      img(src='./assets/img/service/06.jpg')
    .image-text__content
      h3.image-text__title Металлообработка на закакз
      p.image-text__text Металлообработка на заказ является одной из самых востребованных услуг в промышленной сфере. Ключевым направлением компании «Спирит-Бер» является предоставление услуг по металлообработке полного цикла.
      p.image-text__text Нашими услугами пользуются компании различных отраслей. Низкая цена на металлообработку, высокое качество и индивидуальный подход позволяет нам привлекать новых и успешно поддерживать наших клиентов.
      p.image-text__text Постоянное совершенствование производственных процессов, оптимизация издержек и ориентация на клиентов обеспечивают компании непрерывный рост и развитие в нашей сфере. Ежегодно мы наращиваем и укрепляем свои производственные мощности, повышаем уровень квалификации своих сотрудников и устанавливаем прочные взаимоотношения с поставщиками.

      h3.image-text__title Мы ценим наших клиентов не только на словах
      p.image-text__text В компании действует гибкое ценообразование и индивидуальная система скидок. Как для новых, так и для постоянных наших клиентов мы предоставляем выгодные условия по цене и срокам производства.
      p.image-text__text Время наших клиентов – самый главный критерий в нашей работе. Специалисты нашей компании нацелены не только на оперативное производство, но и быстрый расчет заявок клиентов.
