.lazer#lazer
  include ../../../img/equipment/svg/laser-1-1.svg
  .lazer__popup.js-lazer__popup(data-position="left")
    .lazer__popup-title Максимальный размер листа
    .lazer__popup-text Станок принимает заготовки габаритами до 3000х1500 мм
  .lazer__popup.js-lazer__popup(data-position="top")
    .lazer__popup-title Высокоточный луч
    .lazer__popup-text Точность реза луча +/- 0,02 мм
  .lazer__popup.js-lazer__popup(data-position="bottom")
    .lazer__popup-title Мощный лазер
    .lazer__popup-text Лазер мощностью более 8000 КВт
