.container
  .requisites
    .requisites__container
      h1.title-section Реквизиты

      .requisites__content


        .requisites__header
          //h2 ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «Спирит-Бер»

          .requisites__table-wrapper
            table.requisites__table-top
              tbody
                tr
                  th ИНН 7735186587
                  td Р/с: 40702810139100000246
                tr
                  th КПП 773501001
                  td Филиал «Центральный» Банка ВТБ (ПАО) в г. Москве
                tr
                  th ОГРН 1207700015753
                  td К/с: 30101810145250000411
                tr
                  th ОКПО 43155813
                  td БИК: 044525411
                  td БИК: 044525411

        h3 КАРТОЧКА ЮРИДИЧЕСКОГО ЛИЦА

        .requisites__table-wrapper
          table.requisites__table-main
            tbody
              tr
                th Фирменное наименование Общества на русском языке
                td Общество с ограниченной ответственностью «Спирит-Бер»
              tr
                th Сокращенное фирменное наименование Общества на русском языке
                td ООО «Спирит-Бер»
              tr
                th Юридический адрес
                td 124575, г. Москва, вн. тер. г. муниципальный округ Старое Крюково,г. Зеленоград, корпус 904, кв. 69

              tr
                th Фактический адрес (обособленное подразделение)
                td 141595, Московская обл., г.о. Солнечногорск, д. Пешки, тер. Братцевское-Савельево
              tr
                th ОГРН
                td 1207700015753
              tr
                th ИНН
                td 7735186587
              tr
                th КПП
                td 773501001
              tr
                th КПП <br> обособленного подразделения
                td 504445001
              tr
                th ОКПО
                td 43155813
              tr
                th ОКВЭД
                td 25.61
              tr
                th Банковские реквизиты
                td Расч. счет: 40702810139100000246 Филиал «Центральный» Банка ВТБ (ПАО) в г. Москве Кор. счет: 30101810145250000411 БИК: 044525411
              tr
                th Генеральный директор
                td Овчинников Максим Олегович <br> Основание – Устав Общества
              tr
                th Главный бухгалтер
                td Овчинников Максим <br> Олегович Основание – Приказ №5 от 22.12.2020г

              tr
                th Телефон
                td +7 (499) 994-00-97

              tr
                th E-mail
                td sales@spirit-bear.ru


              tr
                th Web
                td www.spirit-bear.ru




