.video-full
  .container
    p.text--accent “Существует уточненное определение стали – это сплав железа и углерода, но при этом массовая доля железа должна составлять не менее 45%”
  .container.video-full__container
    video(preload='auto')
      source(src='./assets/video/video1.mp4' type='video/mp4')
    .play-button
      svg(width="36" height="37")
        use(href='./assets/img/sprite.svg#playpause')
