-
  const popup_lazernaya_rezka_metalla11 = {
    number: 1,
    srcImg: './assets/img/gear/characteristics/01.png',
    title: 'Установка для лазерной резки',

    model: 'FIBER LCM R1530F',
    imgSrcSlides: {
      imgSrcSlide_1: './assets/img/gear/characteristics/01.png',
      imgSrcSlide_2: './assets/img/gear/characteristics/02.png',
      imgSrcSlide_3: './assets/img/gear/characteristics/03.png',
      imgSrcSlide_4: './assets/img/gear/characteristics/04.jpg',
    },

    link: '##',
  }

  const popup_lazernaya_rezka_metalla22 = {
    number: 2,
    srcImg: './assets/img/gear/characteristics/01.png',
    title: 'Установка для лазерной резки',

    model: 'LVD ORION 3015 PLUS',
    imgSrcSlides: {
      imgSrcSlide_1: './assets/img/gear/characteristics/01.png',
      imgSrcSlide_2: './assets/img/gear/characteristics/02.png',
      imgSrcSlide_3: './assets/img/gear/characteristics/03.png',
      imgSrcSlide_4: './assets/img/gear/characteristics/04.jpg',
    },
    link: '##',
  }



+createGearPopup(popup_lazernaya_rezka_metalla11)
+createGearPopup(popup_lazernaya_rezka_metalla22)
