-
  const popup_lazernaya_rezka_metalla1 = {
    number: 1,
    title: 'Установка для лазерной резки',

    model: 'FIBER LCM R1530F',
    imgSrcSlides: {
      imgSrcSlide_1: './assets/img/gear/characteristics/01.png',
      imgSrcSlide_2: './assets/img/gear/characteristics/02.png',
      imgSrcSlide_3: './assets/img/gear/characteristics/03.png',
      imgSrcSlide_4: './assets/img/gear/characteristics/04.jpg',
    },

    link: '##',
  }

  const popup_lazernaya_rezka_metalla2 = {
    number: 2,
    title: 'Установка для лазерной резки',

    model: 'LVD ORION 3015 PLUS',
    imgSrcSlides: {
      imgSrcSlide_1: './assets/img/gear/characteristics/01.png',
      imgSrcSlide_2: './assets/img/gear/characteristics/02.png',
      imgSrcSlide_3: './assets/img/gear/characteristics/03.png',
      imgSrcSlide_4: './assets/img/gear/characteristics/04.jpg',
    },
    link: '##',
  }

  const popup_lazernaya_rezka_metalla3 = {
    number: 3,
    title: 'Листосгибочный станок',

    model: 'Ber-Tech SHPB 32100',
    imgSrcSlides: {
      imgSrcSlide_1: './assets/img/gear/characteristics/01.png',
      imgSrcSlide_2: './assets/img/gear/characteristics/02.png',
      imgSrcSlide_3: './assets/img/gear/characteristics/03.png',
      imgSrcSlide_4: './assets/img/gear/characteristics/04.jpg',
    },
    link: '##',
  }

  const popup_lazernaya_rezka_metalla4 = {
    number: 4,
    title: 'Листосгибочный станок',

    model: 'ERMAKSAN SPEED PRO 6 AXES',
    imgSrcSlides: {
      imgSrcSlide_1: './assets/img/gear/characteristics/01.png',
      imgSrcSlide_2: './assets/img/gear/characteristics/02.png',
      imgSrcSlide_3: './assets/img/gear/characteristics/03.png',
      imgSrcSlide_4: './assets/img/gear/characteristics/04.jpg',
    },
    link: '##',
  }

  const popup_lazernaya_rezka_metalla5 = {
    number: 5,
    title: 'Листосгибочный станок',

    model: 'ADH WC67K',
    imgSrcSlides: {
      imgSrcSlide_1: './assets/img/gear/characteristics/01.png',
      imgSrcSlide_2: './assets/img/gear/characteristics/02.png',
      imgSrcSlide_3: './assets/img/gear/characteristics/03.png',
      imgSrcSlide_4: './assets/img/gear/characteristics/04.jpg',
    },
    link: '##',
  }

  const popup_lazernaya_rezka_metalla6 = {
    number: 6,
    title: 'Линии порошковой покраски',

    model: 'AMP-Polimer, кольцевой участок',
    imgSrcSlides: {
      imgSrcSlide_1: './assets/img/gear/characteristics/01.png',
      imgSrcSlide_2: './assets/img/gear/characteristics/02.png',
      imgSrcSlide_3: './assets/img/gear/characteristics/03.png',
      imgSrcSlide_4: './assets/img/gear/characteristics/04.jpg',
    },
    link: '##',
  }


+createGearPopup(popup_lazernaya_rezka_metalla1)
+createGearPopup(popup_lazernaya_rezka_metalla2)
+createGearPopup(popup_lazernaya_rezka_metalla3)
+createGearPopup(popup_lazernaya_rezka_metalla4)
+createGearPopup(popup_lazernaya_rezka_metalla5)
+createGearPopup(popup_lazernaya_rezka_metalla6)
