.container
  .advantages-edo
    .advantages-edo__container
      h2.title-section Преимущества

      ul.advantages-edo__list

        li.advantages-edo__item
          span.advantages-edo__name Скорость обмена
          p.advantages-edo__text За считанные секунды Вы можете обменяться подписанными документами со своим контрагентом

        li.advantages-edo__item
          span.advantages-edo__name Удобство
          p.advantages-edo__text Вы можете подписать документ в любом месте и в любое время при помощи ЭЦП

        li.advantages-edo__item
          span.advantages-edo__name Практичность
          p.advantages-edo__text Ваши документы больше не затеряются в отправке или на почте, документы точно дойдут до своего получателя

        li.advantages-edo__item
          span.advantages-edo__name Защита
          p.advantages-edo__text ЭЦП обеспечивает полную легитимность документов, их принимают государственные органы

        li.advantages-edo__item
          span.advantages-edo__name Экономия
          p.advantages-edo__text Больше не придется хранить бумажные архивы и тратить деньги на почту и курьеров




