.container
  .principle
    h2.title-section Принцип работы
    .principle__container
      .principle__content
        h3.principle__title Частотность поисковых запросов продолжает удивлять
        .principle__description

          p.principle__subtitle.principle__subtitle--bigger Как и любой материал класса металлов, сталь имеет как преимущества, так и недостатки.

          p.principle__list-title Основные преимущества:

          ul.principle__list.principle-list
            li.principle-list__item прочность;
            li.principle-list__item твердость;
            li.principle-list__item вязкость;
            li.principle-list__item упругость;
            li.principle-list__item доступность для разных методов обработки;
            li.principle-list__item износоустойчивость.

        a.button.arrow.button--outline(href="##") Смотреть портфолио


      .principle__image
        //img(src='./assets/img/blog-post/01.png')
        video(preload='auto' muted loop src='./assets/video/video1.mp4')
        .play-button
          svg(width="36" height="37")
            use(href='./assets/img/sprite.svg#playpause')

    .principle__container
      .principle__content
        h3.principle__title Разновидности стали
        .principle__description

          p.principle__subtitle.principle__subtitle--accent Черная металлургия производит множество видов стали с разнообразными характеристиками.

          p.principle__text Основным отличием стали от других металлов является плотность, теплоемкость и температура плавления. Материалы классифицируют по разным признакам, таким как химический состав, качество и назначение, степени окисления, структуре и способу производства. Условия применения стали предъявляют разные требования и параметры к ее физико-химическим свойствам. В связи с этим в состав сплава могут вводиться различные лигатуры, уменьшая долю железа. Поэтому существует уточненное определение стали – это сплав железа и углерода, но при этом массовая доля железа должна составлять не менее 45%.
          a.button.arrow.button--outline(href="##") Смотреть портфолио

      .principle__image
        img(src='./assets/img/blog-post/02.png')

