.team
  .container.team-container
    h2.title-section Наша команда

    .team__content

      .team__content-wrapper.swiper

        ul.team__list.swiper-wrapper

          li.team__card.team-card.swiper-slide
            img.team-card__image(src="assets/img/team/01.jpg")
            span.team-card__name Игорь Игоревич
            span.team-card__post Оператор гибочного станка
            p.team-card__text Однозначно, предприниматели в сети интернет, инициированные исключительно синтетически, обнародованы.

          li.team__card.team-card.swiper-slide
            img.team-card__image(src="assets/img/team/02.jpg")
            span.team-card__name Сергей Сергеевич
            span.team-card__post Инженер
            p.team-card__text Идейные соображения высшего порядка, а также убеждённость некоторых оппонентов обеспечивает актуальность поэтапного и последовательного развития общества.

          li.team__card.team-card.swiper-slide
            img.team-card__image(src="assets/img/team/03.jpg")
            span.team-card__name Виктор Викторович
            span.team-card__post Сверловщик
            p.team-card__text Идейные соображения высшего порядка, а также понимание сути ресурсосберегающих технологий однозначно фиксирует необходимость модели развития.

          li.team__card.team-card.swiper-slide
            img.team-card__image(src="assets/img/team/04.jpg")
            span.team-card__name Александра Александровна
            span.team-card__post Оператор лазерного станка
            p.team-card__text Не следует, однако, забывать, что постоянный количественный рост и сфера нашей активности обеспечивает актуальность дальнейших направлений развития.


        .swiper-pagination

        .slider-nav__prev
        .slider-nav__next
