.hero.hero-about
  .hero__container.container
    .hero__content
      h1.hero__title О компании
      p.hero__text Производственная компания Спирит-Бер профессионально занимается металлообработкой на российском рынке с 2020 года. Компания включает в себя несколько направлений: предоставление отдельных услуг и предоставление полного цикла производства.
      a.button.button--bg-accept(href="") Заказать услугу
    .hero__video
      //img(src="./assets/img/about/about-hero.png")
      video.video-content(preload='auto')
        source(src='./assets/video/video1.mp4' type='video/mp4')
      .play-button
        svg(width="36" height="37")
          use(href='./assets/img/sprite.svg#playpause')
