.container
  .hero.hero-contacts
    .hero__container

      .hero__inner
        h1.hero__title Контакты

        .hero__content
          ul.hero__contacts.contacts__list

            li.contacts__item.contacts-item
              span.contacts-item__title Телефон
              a.contacts-item__link(href="tel:+74999940097") +7 (499) 994-00-97
              span.contacts-item__timetable пн-пт с 09:00 до 18:00

            li.contacts__item.contacts-item
              span.contacts-item__title Прием заказов
              .contacts-item__link-wrapper
                a.contacts-item__link(href="mailto:sales@spirit-bear.ru") sales@spirit-bear.ru
                +copyTextButton
              span.contacts-item__timetable пн-пт с 09:00 до 18:00

            li.contacts__item.contacts-item
              span.contacts-item__title Договорной отдел
              .contacts-item__link__wrapper
                a.contacts-item__link(href="mailto:partner@spirit-bear.ru") partner@spirit-bear.ru
                +copyTextButton
              span.contacts-item__timetable пн-пт с 09:00 до 18:00

          ul.hero__location.location__list

            li.location__item.location-item
              span.location-item__title Центральный офис и производство
              span.location-item__text Московская область, г.о.Солнечногорск, деревня Пешки, Цех № 22.

            li.location__item.location-item
              span.location-item__title Регион работы
              span.location-item__text Москва и Московская область, доставка по России.

        .hero__buttons
          button.button.arrow.button--outline Проложить маршрут
          a.hero__button--download.button.file(href="") Скачать .pdf-схему маршрута

        .map
          .map__item#map-contacts







