.portfolio.portfolio-laser-cutting

  .portfolio

    &__container

    &__swiper
      width: 100%
      overflow: hidden

    &__slider
      position: relative
      width: 100%

    &__list
      display: inline-flex
      gap: 0

    &__item
      width: min-content

    &__image-wrapper
      max-width: 500px

  .slider-nav__prev
    left: -40px
  .slider-nav__next
    right: -40px









