.portfolio.portfolio-laser-cutting
  .container.portfolio__container
    h2.title-section Примеры работ

    .portfolio__slider
      .swiper.portfolio__swiper
        ul.portfolio__list.swiper-wrapper

          include ../../_items/portfolio-item/portfolio-item-slide/portfolio-item-slide

        .slider-nav__prev
        .slider-nav__next






