li.advantages__item
  span.advantages__number 01
  p.advantages__text Грамотные конструктора с большим опытом работы в простых и сложных задачах по лазерной резки стали и металла.

li.advantages__item
  span.advantages__number 02
  p.advantages__text Отлаженные поставки качественных листов (соответствие ГОСТ, ровные, нержавые).

li.advantages__item
  span.advantages__number 03
  p.advantages__text Оперативная реакция на заказы, отзывчивость и доброжелательность менеджеров.

li.advantages__item
  span.advantages__number 04
  p.advantages__text Гибкая система формирования стоимости услуг лазерной резки стали и металла (более 50 градаций).
