extends ../layouts/main

block variables
  - var title = "О компании"
  - var pageClass = ''
  - var activePage = 'index'


block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="index.html").breadcrumbs__item Главная
      a(href="").breadcrumbs__item О компании

  section.section-column
    include ../components/hero/hero-about/hero-about
    include ../components/provide/provide
    include ../components/about-advantages/about-advantages
    include ../components/team/team
    include ../components/history-company/history-company
    include ../components/image-text/image-text-col3
    include ../components/partners/partners
