extends ../layouts/main

block variables
  - var title = "Блог Спирит Бер"
  - var pageClass = ''
  - var activePage = 'index'


block content
  .breadcrumbs
    .breadcrumbs__container.container
      a(href="index.html").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Блог Спирит Бер

  section.section-column

    include ../components/blog/blog
    include ../components/feedback/feedback-blog/feedback-blog
