extends ../layouts/main

block variables
  - var title = "Сталь: виды, классификация и свойства"
  - var pageClass = ''
  - var activePage = 'index'


block content

  .breadcrumbs
    .container.breadcrumbs__container
      a(href="index.html").breadcrumbs__item Главная
      a(href="").breadcrumbs__item О компании
      a(href="").breadcrumbs__item Новости Спирит Бер
      a(href="").breadcrumbs__item Сталь: виды, классификация и свойства

  section.section-column

    include ../components/hero/hero-post/hero-post
    include ../components/image-text/image-text-reverse
    include ../components/video-full/video-full

    include ../components/image-text/image-text-post
