extends ../layouts/main

block variables
  - var title = "Доставка"
  - var pageClass = ''
  - var activePage = 'index'


block content
  .breadcrumbs
    .container.breadcrumbs__container
      a(href="/").breadcrumbs__item Главная
      a(href="").breadcrumbs__item О компании
      a(href="").breadcrumbs__item Доставка

  section.section-column

    include ../components/hero/hero-delivery/hero-delivery
    include ../components/delivery-map/delivery-map

    .partners
      .container.partners__container
        h2.title-section Логистические партнеры
        ul.partners__list
          +partnersItem("assets/img/partners/01.svg")
          +partnersItem("assets/img/partners/02.svg")
          +partnersItem("assets/img/partners/03.svg")
          +partnersItem("assets/img/partners/04.svg")
          +partnersItem("assets/img/partners/05.svg")
