extends ../layouts/main

block variables
  - var title = "ЭДО"
  - var pageClass = ''
  - var activePage = 'index'


block content
  .breadcrumbs
    .container.breadcrumbs__container
      a(href="").breadcrumbs__item Главная
      +breadcrumbs_icon
      a(href="").breadcrumbs__item О компании
      +breadcrumbs_icon
      a(href="").breadcrumbs__item Электронный документооборот

  section.section-column
    include ../components/hero/hero-edo/hero-edo
