extends ../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  .breadcrumbs
    .container.breadcrumbs__container
      a(href="index.html").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Оборудование
      a(href="").breadcrumbs__item Установка для лазерной резки

  section.section-column
    include ../components/gear/gear

