extends ../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  section.section-column
    include ../components/hero/hero-index/hero-index
    include ../components/portfolio/portfolio
    include ../components/production/production

    //include ../components/equipment/equipment
    include ../components/gear/gear

    include ../components/news/news




