extends ../layouts/main

block variables
  - var title = "Лазерная резка"
  - var pageClass = ''
  - var activePage = 'index'


block content
  .breadcrumbs
    .container.breadcrumbs__container
      a(href="").breadcrumbs__item Главная
      +breadcrumbs_icon
      a(href="").breadcrumbs__item Услуги
      +breadcrumbs_icon
      a(href="").breadcrumbs__item Лазерная резка металла

  section.section-column
    include ../components/hero/hero-laser-cutting/hero-laser-cutting
    include ../components/materials/materials-laser-cutting/materials-laser-cutting
    include ../components/price/price-laser-cutting/price-laser-cutting
    include ../components/portfolio/portfolio-laser-cutting/portfolio-laser-cutting
    include ../components/also-interesting/also-interesting-laser-cutting/also-interesting-laser-cutting
    include ../components/advantages/advantages

    include ../components/faq/faq
