extends ../layouts/main

block variables
  - var title = "Примеры работ"
  - var pageClass = ''
  - var activePage = 'index'

block content

  .breadcrumbs
    .container.breadcrumbs__container
      a(href="index.html").breadcrumbs__item Главная
      a(href="").breadcrumbs__item Примеры работ

  section.section-column
    include ../components/general-portfolio/general-portfolio



