.container
  .price.price-laser-cutting#laser-cutting-price
    .price__container
      h2.title-section Цены
      .price__table.price-table
        span.price-table__subtitle Стоимость обработки 1 метра материала, ₽
        a.price-table__download(href="" download)
          svg(width="14" height="16" fill='currentColor')
            use(href='./assets/img/sprite.svg#file')
          | Скачать прайс
        .price-table__wrapper
          table
            thead
              tr
                th(rowspan='2') Материал
                th.title(colspan='22') Толщина, мм
              tr.table__thickness
                td.col 0,5
                td.col 0,8
                td.col 1,0
                td.col 1,2
                td.col 1,4
                td.col 1,99
                td.col 1,6
                td.col 1,8
                td.col 2,0
                td.col 2,5
                td.col 3,0
                td.col 4,0
                td.col 5,0
                td.col 6,0
                td.col 7,0
                td.col 8,0
                td.col 9,0
                td.col 10,0
                td.col 12,0
                td.col 14,0
                td.col 15,0
                td.col 16,0
            tbody
              tr.table-row
                th.row Конструкционная сталь
                td 11,00
                td 11,10
                td 12,00
                td 12,67
                td 13,33
                td 14,00
                td 15,00
                td 16,00
                td 17,00
                td 22,00
                td 25,00
                td 30,10
                td 36,00
                td 40,00
                td 48,00
                td 55,00
                td 63,00
                td 76,10
                td 91,00
                td 106,00
                td 122,10
                td 169,00
              tr.table-row
                th.row Нержавеющая сталь
                td 20,20
                td 20,80
                td 21,30
                td 21,75
                td 22,65
                td 25,80
                td 26,77
                td 28,38
                td 30,80
                td 33,38
                td 47,60
                td 61,40
                td 79,60
                td 107,80
                td 150,90
                td 260,00
                td 320,00
                td -
                td -
                td -
                td -
                td -
              tr.table-row
                th.row Оцинкованная сталь
                td 11,00
                td 11,10
                td 12,00
                td 12,67
                td 13,33
                td 14,00
                td 15,00
                td 16,00
                td 17,00
                td 22,00
                td 25,00
                td 28,69
                td -
                td -
                td -
                td -
                td -
                td -
                td -
                td -
                td -
                td -
              tr.table-row
                th.row Алюминий
                td -
                td -
                td 9,00
                td -
                td -
                td 12,10
                td -
                td -
                td 17,50
                td -
                td 25,00
                td 30,10
                td 33,50
                td 39,90
                td -
                td -
                td -
                td -
                td -
                td -
                td -
                td -
              tr.table-row
                th.row Дюраль
                td -
                td -
                td 9,00
                td -
                td -
                td 12,10
                td -
                td -
                td 17,50
                td -
                td 25,00
                td 30,10
                td 33,50
                td 39,90
                td -
                td -
                td -
                td -
                td -
                td -
                td -
                td -
              tr.table-row
                th.row Медь
                td -
                td -
                td 22,50
                td -
                td -
                td 39,20
                td -
                td -
                td 52,50
                td -
                td 69,00
                td 30,10
                td 33,50
                td 39,90
                td -
                td -
                td -
                td -
                td -
                td -
                td -
                td -
              tr.table-row
                th.row Латунь
                td -
                td -
                td 25,00
                td -
                td -
                td 30,50
                td -
                td -
                td 52,50
                td -
                td 69,00
                td 30,10
                td 33,50
                td 39,90
                td -
                td -
                td -
                td -
                td -
                td -
                td -
                td -
              tr.table-row
                th.row Титан
                td -
                td -
                td 25,00
                td -
                td -
                td 30,50
                td -
                td -
                td 563,00
                td -
                td 72,50
                td 86,90
                td -
                td -
                td -
                td -
                td -
                td -
                td -
                td -
                td -
                td -

        site.price-table__footnote.footenote__item
          sup 1
          | Цена указана на лазерную резку воздухом при длине реза от 5 000 метров. Минимальная сумма заказа на лазерную резку 5 000 рублей.
        site.price-table__footnote.footenote__item
          sup 2
          | Цена рассчитывается индивидуально на каждый заказ и зависит от объемов, сложности конструкции и требуемых сроков изготовления.
        span.price-table__pricing.footenote__pricing
          svg(width="16" height="16" fill='currentColor')
            use(href='./assets/img/sprite.svg#question')
          | Как формируется цена

