.container
  .price.price-laser-cutting
    .price__container
      h2.title-section Цены
      .price__table.price-table
        span.price-table__subtitle Стоимость обработки 1 метра материала, ₽
        a.price-table__download(href="" download)
          svg(width="14" height="16" fill='currentColor')
            use(href='./assets/img/sprite.svg#file')
          | Скачать прайс
        .price-table__wrapper
          include table

        site.price-table__footnote.footenote__item
          sup 1
          | Цена указана на лазерную резку воздухом при длине реза от 5 000 метров. Минимальная сумма заказа на лазерную резку 5 000 рублей.
        site.price-table__footnote.footenote__item
          sup 2
          | Цена рассчитывается индивидуально на каждый заказ и зависит от объемов, сложности конструкции и требуемых сроков изготовления.
        button.price-table__pricing.footenote__pricing
          svg(width="16" height="16" fill='currentColor')
            use(href='./assets/img/sprite.svg#question')
          | Как формируется цена



    include ../../price-formation/price-formation

