table.WstdTable
  thead
    tr.table-row
      td.bold-td(colspan='' rowspan='2') Толщина, мм
      td.bold-td(rowspan='' colspan='8') Цена, руб./метр
    tr.table__thickness
      td.col(rowspan='1' colspan='1') Конструкционная сталь
      td.col(rowspan='1' colspan='1') Нержавеющая сталь
      td.col(rowspan='1' colspan='1') Оцинкованная сталь
      td.col(rowspan='1' colspan='1') Алюминий
      td.col(rowspan='1' colspan='1') Медь
      td.col(rowspan='1' colspan='1') Латунь
      td.col(rowspan='1' colspan='1') Титан
  tbody
    tr.table-row
      td(rowspan='1' colspan='1') 0.5
      td(rowspan='1' colspan='1') 11.00
      td(rowspan='1' colspan='1') 24.00
      td(rowspan='1' colspan='1') 12.00
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
    tr.table-row
      td(rowspan='1' colspan='1') 0.8
      td(rowspan='1' colspan='1') 11.00
      td(rowspan='1' colspan='1') 24.00
      td(rowspan='1' colspan='1') 14.00
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
    tr.table-row
      td(rowspan='1' colspan='1') 1
      td(rowspan='1' colspan='1') 12.50
      td(rowspan='1' colspan='1') 25.00
      td(rowspan='1' colspan='1') 16.00
      td(rowspan='1' colspan='1') 30.50
      td(rowspan='1' colspan='1') 38.13
      td(rowspan='1' colspan='1') 30.50
      td(rowspan='1' colspan='1') 30.50
    tr.table-row
      td(rowspan='1' colspan='1') 1.2
      td(rowspan='1' colspan='1') 14.00
      td(rowspan='1' colspan='1') 27.00
      td(rowspan='1' colspan='1') 17.20
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
    tr.table-row
      td(rowspan='1' colspan='1') 1.5
      td(rowspan='1' colspan='1') 15.80
      td(rowspan='1' colspan='1') 35.30
      td(rowspan='1' colspan='1') 18.00
      td(rowspan='1' colspan='1') 43.07
      td(rowspan='1' colspan='1') 53.83
      td(rowspan='1' colspan='1') 48.80
      td(rowspan='1' colspan='1') 43.07
    tr.table-row
      td(rowspan='1' colspan='1') 2
      td(rowspan='1' colspan='1') 21.50
      td(rowspan='1' colspan='1') 44.70
      td(rowspan='1' colspan='1') 29.00
      td(rowspan='1' colspan='1') 54.53
      td(rowspan='1' colspan='1') 68.17
      td(rowspan='1' colspan='1') 62.22
      td(rowspan='1' colspan='1') 54.53
    tr.table-row
      td(rowspan='1' colspan='1') 2.5
      td(rowspan='1' colspan='1') 28.00
      td(rowspan='1' colspan='1') 65.00
      td(rowspan='1' colspan='1') 33.00
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
    tr.table-row
      td(rowspan='1' colspan='1') 3
      td(rowspan='1' colspan='1') 32.00
      td(rowspan='1' colspan='1') 84.30
      td(rowspan='1' colspan='1') 39.60
      td(rowspan='1' colspan='1') 102.85
      td(rowspan='1' colspan='1') 128.56
      td(rowspan='1' colspan='1') 117.12
      td(rowspan='1' colspan='1') 102.85
    tr.table-row
      td(rowspan='1' colspan='1') 4
      td(rowspan='1' colspan='1') 35.50
      td(rowspan='1' colspan='1') 104.80
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') 127.86
      td(rowspan='1' colspan='1') 159.82
      td(rowspan='1' colspan='1') 146.40
      td(rowspan='1' colspan='1') 127.86
    tr.table-row
      td(rowspan='1' colspan='1') 5
      td(rowspan='1' colspan='1') 38.90
      td(rowspan='1' colspan='1') 124.00
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') 151.28
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') 173.24
      td(rowspan='1' colspan='1') -
    tr.table-row
      td(rowspan='1' colspan='1') 6
      td(rowspan='1' colspan='1') 42.20
      td(rowspan='1' colspan='1') 144.60
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') 176.41
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') 200.08
      td(rowspan='1' colspan='1') -
    tr.table-row
      td(rowspan='1' colspan='1') 8
      td(rowspan='1' colspan='1') 64.60
      td(rowspan='1' colspan='1') 235.00
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
    tr.table-row
      td(rowspan='1' colspan='1') 10
      td(rowspan='1' colspan='1') 87.00
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
    tr.table-row
      td(rowspan='1' colspan='1') 12
      td(rowspan='1' colspan='1') 98.00
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
    tr.table-row
      td(rowspan='1' colspan='1') 14
      td(rowspan='1' colspan='1') 109.47
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
    tr.table-row
      td(rowspan='1' colspan='1') 16
      td(rowspan='1' colspan='1') 192.00
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
      td(rowspan='1' colspan='1') -
