$transition: all 0.24s ease-in-out


$bg-black: #0C131A
$accent: #24C2DB
$flare: #2CE3FF
$frosted-top: #1F272E
$frosted-bottom: #161D24
$darkening: #0B0D0E
$text: #E4E4E4
$white: #fff

$width-mobile: 1100px

$shadow-card: 0px 26px 79px -19px rgba(#FF5F2D, 0.21)

$shadow-block: -1px 0px 2px rgba(113, 200, 255, 0.12), -3px 0px 2px rgba(113, 200, 255, 0.04), 1px 0px 1px rgba(0, 0, 0, 0.06), 1px 0px 4px rgba(0, 0, 0, 0.28), inset -1px 0px 1px rgba(113, 200, 255, 0.03)

// box-shadow - frosted-top
$shadow-fr-top: 0px -8px 10px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.08), 0px 8px 10px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), inset 0px 0px 2px rgba(113, 200, 255, 0.24)

// box-shadow - frosted-bottom



html
  --bg-black: #0C131A
  --accent: #24C2DB
  --flare: #2CE3FF
  --frosted-top: #1F272E
  --frosted-bottom: #161D24
  --darkening: #0B0D0E
  --text: #E4E4E4
  --white: #fff

