.container
  .delivery-map
    .delivery-map__container
      .delivery-map__inner
        h2.delivery-map__title География поставок
        .map
          .map__item#map-delivery

        include ../_items/footenote/footenote

