.exchange-edo
  .container.exchange-edo__container
    h2.title-section.exchange-edo__title Как начать обмениваться документами в ЭДО с ООО «Спирит-Бер»

    .exchange-edo__content
      ul.exchange-edo__tab-list
        li.exchange-edo__tab-item(data-tab="1") Если ваш оператор ЭДО - “Диадок”
        li.exchange-edo__tab-item(data-tab="2") Если у Вас иной оператор ЭДО
        li.exchange-edo__tab-item(data-tab="3") Если у Вас не подключен ЭДО

      ol.exchange-edo__step-list.exchange-edo-step__list(data-step-list="1")
        li.exchange-edo-step__item
          span.exchange-edo-step__text Скачайте &nbsp
            a(href="" download) Соглашение ЭДО

        li.exchange-edo-step__item
          span.exchange-edo-step__text Отправьте своему менеджеру в ООО «Спирит-Бер» заполненное и подписанное Соглашение

        li.exchange-edo-step__item
          span.exchange-edo-step__text Дождитесь окончания настройки взаимосвязи в сервисе ЭДО. Пользуетесь ЭДО!


      ol.exchange-edo__step-list.exchange-edo-step__list(data-step-list="2")
        li.exchange-edo-step__item
          span.exchange-edo-step__text Проверьте у Вашего оператора техническую возможность по организации роуминга между ним и Диадок


      ol.exchange-edo__step-list.exchange-edo-step__list(data-step-list="3")
        li.exchange-edo-step__item
          span.exchange-edo-step__text Выберите одного из операторов ЭДО:
            ul
              li СКБ Контур
              li СБиС++
              li Сбербанк Бизнес Онлайн
              li КОРУС Консалтинг СНГ





