.header
  position: absolute
  z-index: 10
  width: 100%
  background: linear-gradient(180deg, rgba(18, 25, 32, 0.12) 0%, rgba(18, 25, 32, 0.107268) 61%, rgba(18, 25, 32, 0) 100%)
  backdrop-filter: blur(4px)
  @media (max-width: $width-mobile)
    max-height: 66px
    &.js-active
      background-color: #0C131A
      position: fixed
      z-index: 100
    &.js-active &-contact__list,
    &.js-active &-nav
      display: flex
    &.js-active &__burger
      background-image: url('../img/icons/close.svg')
      width: 25px
      height: 25px


  &__container
    max-width: 1840px
    box-sizing: content-box
    padding: 10px 40px
    display: flex
    align-items: center
    gap: 32px
    @media (max-width: $width-mobile)
      justify-content: space-between
      position: relative
      padding: 10px 20px
      display: grid
      grid-template-columns: 1fr 1fr

  &__logo
    @media (max-width: $width-mobile)
      grid-column: span 1

  &-nav
    display: flex
    align-items: center
    width: 100%
    @media (max-width: $width-mobile)
      position: fixed
      display: none
      align-items: flex-start
      flex-direction: column
      gap: 12px
      height: 100vh
      max-height: calc(100vh - 66px)
      top: 66px
      left: 0
      right: 0
      background-color: var(--bg-black)
      padding: 0 20px 30px
      overflow-y: auto
      overscroll-behavior: contain
      &::-webkit-scrollbar
        width: 0


  &-nav__list
    position: relative
    display: flex
    align-items: center
    gap: 5px
    @media (max-width: $width-mobile)
      width: 100%
      flex-direction: column
      gap: 0
      border-radius: 8px
      box-shadow: $shadow-block


  &-nav__item
    @media (max-width: $width-mobile)
      padding: 20px 12px
      background-color: $frosted-top
      backdrop-filter: blur(60px)
      width: 100%
      &:first-child
        border-radius: 8px 8px 0 0
      &:last-child
        border-radius: 0 0 8px 8px
    @media (min-width: $width-mobile)
      &:hover .header-subnav-1
        transform: rotateX(0deg)
        visibility: visible
    // стрелочка в бургер-меню
    &:nth-child(1)
      @media (max-width: $width-mobile)
        position: relative
        &::after
          content: ""
          position: absolute
          background-image: url('../img/icons/arrow-right.svg')
          background-position: center
          background-size: cover
          background-repeat: no-repeat
          width: 7px
          height: 12px
          top: 25px
          transform: translateY(50%)
          right: 17px
          cursor: pointer
          transition: 0.2s ease
        &.js-active::after
          transform: rotate(90deg)

    &.js-active
      //padding-bottom: 0
    &:nth-child(2).js-active
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)



  &-nav__link
    white-space: nowrap
    padding: 8px 20px
    color: rgba($white, 0.7)
    &:hover
      color: rgba($white, 1)
    &:active
      background-color: $frosted-top
      border-radius: 4px
    @media (max-width: $width-mobile)
      display: block
      padding: 0


  &-subnav
    position: absolute
    width: max-content
    visibility: hidden
    transform-origin: 0 0
    transform: rotateX(-90deg)
    transition: 0.2s linear
    &__item
      position: relative
      background-color: rgba($frosted-top, 0.7)
      backdrop-filter: blur(60px)
      & a
        display: inline-block
        width: 100%
        color: rgba($white, 0.7)
        padding: 8px 50px 8px 12px
      & a:hover
        color: $white
      @media (max-width: $width-mobile)
        width: 100%
        padding: 12px 0
    @media (max-width: $width-mobile)
      position: relative
      width: auto
      margin: 0 -12px
      visibility: visible
      transform: initial
      display: none
      &.js-active
        display: block
        overflow: hidden


  &-subnav-1
    padding-top: 15px
    .header-subnav__item
      border-left: 2px solid transparent
      @media (min-width: $width-mobile)
        &:hover
          border-color: $accent
        &:hover .header-subnav-2
          transform: rotateX(0deg)
          visibility: visible
        &:last-child
          border-radius: 10px
    & > .header-subnav__item
      &::after
        content: ""
        position: absolute
        background-image: url('../img/icons/arrow-right.svg')
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        width: 7px
        height: 12px
        top: 50%
        right: 17px
        transform: translateY(-50%)
        cursor: pointer
        transition: 0.2s ease
      @media (max-width: $width-mobile)
        &::after
          top: 25px
          transform: translateY(50%)
        &.js-active::after
          transform: rotate(90deg)


  &-subnav-2
    @media (min-width: $width-mobile)
      left: 100%
      top: 0
      border-radius: 0 4px 4px 0
      transition: initial
      overflow: hidden
    @media (max-width: $width-mobile)
      &.js-active
        display: block
        margin: 0



  &-contact
    position: relative
    display: flex
    margin-left: auto
    @media (max-width: $width-mobile)
      width: 100%
      align-items: center
      background-color: $frosted-top
      border-radius: 8px
      box-shadow: $shadow-block

    &__list
      display: flex
      gap: 24px
      &.js-active
        display: flex
      @media (max-width: 1400px)
        display: none
        position: absolute
        bottom: -15px
        right: 0
        flex-direction: column
        align-items: flex-start
        gap: 0
        transform: translateY(100%)
        width: 320px
        border-radius: 4px
      @media (max-width: $width-mobile)
        position: relative
        flex-direction: column
        gap: 0
        background-color: transparent
        width: 100%
        transform: initial
        bottom: 0

    &__address
      display: flex
      align-items: start


    &__item
      white-space: nowrap
      @media (max-width: 1400px)
        position: relative
        padding: 12px 40px 12px 10px
        width: 100%
        background-color: #2C2F32
        &:hover
          background-color: rgba(#2C2F32, 0.8)
        .icon-header-contact
          position: absolute
          right: 18px
          top: 50%
          transform: translateY(-50%)
      @media (max-width: 1400px) and (min-width: 1100px)
        display: grid
        grid-template-columns: 40px 1fr 1fr
        padding-right: 20px
        row-gap: 5px
        column-gap: 16px
      @media (max-width: $width-mobile)
        display: grid
        grid-template-columns: 1fr 1fr
        background-color: initial
        padding: 20px 15px
        &:hover
          background-color: initial
    &__button-copy
      display: inline-block
      cursor: pointer
      margin-left: 8px
      @media (max-width: 1400px)
        justify-self: flex-end
        grid-row: span 2
        align-self: center
      @media (max-width: 1100px)
        justify-self: flex-end

    &__icon
      width: 40px
      height: 40px
      background-color: #414345
      border-radius: 2px
      display: flex
      align-items: center
      justify-content: center
      grid-row: span 2
      @media  (max-width: 1100px)
        display: none
      @media (min-width: 1400px)
        display: none


    &__link
      white-space: nowrap
      line-height: 1.2

    &__description
      display: block
      font-size: 12px
      line-height: 1
      color: rgba(#fff, 0.6)

    &__menu-tablet
      display: none
      white-space: nowrap
      margin-left: auto
      cursor: pointer
      background-color: $frosted-top
      padding: 8px 16px
      border-radius: 4px
      span
        text-align: left
        display: block
        font-size: 10px
        color: rgba($white, 0.6)
      @media(min-width: $width-mobile) and (max-width: 1400px)
        display: block


  &__burger
    display: none
    cursor: pointer
    @media (max-width: $width-mobile)
      grid-column: 2 / span 1
      justify-self: end
      position: relative
      display: block
      background-image: url('../img/icons/burger.svg')
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      width: 32px
      height: 20px
      z-index: 2
      transition: 0.2s






