header.header
  .header__container

    a.header__logo(href="index.html")
      svg(width="181" height="40" fill='#fff')
        use(href='./assets/img/sprite.svg#header-logo')

    button.header__burger

    mixin headerNavItem(link, text)
      li.header-nav__item
        a.header-nav__link(href=link)=text

    mixin headerSubNavItem(link, text)
      li.header-subnav__item
        a.header-subnav__link(href=link)=text


    .header-nav
      ul.header-nav__list
        li.header-nav__item.header-nav__item--services
          //a.header-nav__link(href="/service.html" ) Услуги
          a.header-nav__link Услуги

          ul.header-subnav.header-subnav-1
            li.header-subnav__item
              a.header-subnav__link(href="laser-cutting.html") Лазерная резка металла
              ul.header-subnav.header-subnav-2
                +headerSubNavItem('/', 'Лазерная резка листа')
                +headerSubNavItem('/', 'Лазерная резка швеллера')
                +headerSubNavItem('/', 'Лазерная резка труб')
                +headerSubNavItem('/', 'Лазерная резка уголка')

            li.header-subnav__item
              a.header-subnav__link(href="laser-cutting.html") Гибка листового металла
              ul.header-subnav.header-subnav-2
                +headerSubNavItem('/', 'Лазерная резка листа2')
                +headerSubNavItem('/', 'Лазерная резка швеллера2')
                +headerSubNavItem('/', 'Лазерная резка труб2')
                +headerSubNavItem('/', 'Лазерная резка уголка2')

            li.header-subnav__item
              a.header-subnav__link(href="/laser-cutting.html") Порошковая покраска металла
              ul.header-subnav.header-subnav-2
                +headerSubNavItem('/', 'Лазерная резка листа2')
                +headerSubNavItem('/', 'Лазерная резка швеллера2')
                +headerSubNavItem('/', 'Лазерная резка труб2')
                +headerSubNavItem('/', 'Лазерная резка уголка2')

            +headerSubNavItem('/', 'Гибка листового металла')
            +headerSubNavItem('/', 'Порошковая покраска металла')
            +headerSubNavItem('/', 'Слесарные работы')
            +headerSubNavItem('/', 'Металлоконструкции')


        +headerNavItem('', 'Цены')
        +headerNavItem('portfolio.html', 'Примеры работ')
        +headerNavItem('about.html', 'О нас')
        +headerNavItem('contacts.html', 'Контакты')

      .header__contact.header-contact
        button(type="button").header-contact__menu-tablet Связаться с нами
          span Телефон, почта, адрес

        ul.header-contact__list

          li.header-contact__item
            .header-contact__icon
              img(src="./assets/img/icons/header-phone.svg")
            a.header-contact__link(href="tel:+74999940097") +7 499 994 00 97
            button.header-contact__button-copy
              svg(width="12" height="12" fill="#fff")
                use(href='./assets/img/sprite.svg#button-copy')
            span.header-contact__description пн-пт с 09:00 до 18:00

          li.header-contact__item
            .header-contact__icon
              img(src="./assets/img/icons/header-email.svg")
            a.header-contact__link(href="mailto:sales@spirit-bear.ru") sales@spirit-bear.ru
            button.header-contact__button-copy
              svg(width="12" height="12" fill="#fff")
                use(href='./assets/img/sprite.svg#button-copy')
            span.header-contact__description круглосуточно, без выходных

          li.header-contact__item.header-contact__address
            .header-contact__icon
              img(src="./assets/img/icons/header-address.svg")
            a.header-contact__link МО, Солнечногорск,
              br
              | д. Пешки, цех №22
            button.header-contact__button-copy
              svg(width="12" height="12" fill="#fff")
                use(href='./assets/img/sprite.svg#button-copy')



