.hero.hero-laser-cutting(style="background-image: url('./assets/img/service/laser.gif')")
  .container.hero__container
    span.hero__tag Услуги
    h1.hero__title Лазерная резка металла
    span.hero__price -- от 6,90 ₽ / метр
    p.hero__text Наша компания работает на профессиональном лазерном оборудовании LVD ORION 3015 PLUS и FIBER LCM R1530F, которое позволяет выполнять раскрой листового материала, профильных и круглых труб по низким ценам за счет своей высокой производительности и превосходному качеству работы.
    a(href="").button.button--bg-accept Заказать услугу

    mixin anchorItem(id, name)
      td.hero-anchor__item
        a.hero-anchor__link(href=id)=name

    table.hero__anchor.hero-anchor
      tbody
        tr
          +anchorItem('#price', 'Цены')
          +anchorItem('#portfolio', 'Примеры работ')
          +anchorItem('#production', 'Оборудование')
        tr
          +anchorItem('#advantage', 'Преимущества')
          +anchorItem('#principle', 'Принципы работы')
          +anchorItem('#faq', 'FAQ')







