.container
  .provide
    .provide__container
      h2.title-section Мы предоставляем
      .provide__content

        .provide__item.provide-item
          .provide-item__image
            img(src="./assets/img/provide/01.png")
          p.provide-item__title Полный цикл производства металлоизделий и металлоконструкций
          p.provide-item__text От приема заказа до отгрузки готовой партии. Лишь многие известные личности рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. И нет сомнений, что независимые государства подвергнуты целой серии независимых исследований.

        .provide__item.provide-item
          .provide-item__image
            img(src="./assets/img/provide/02.png")
          p.provide-item__title Услуги металлообработки
          p.provide-item__text Лазерная резка листового материала и профильных труб гибка листового металла, слесарные работы, порошковая покраска, сварочные работы. От приема заказа до отгрузки готовой партии. Лишь многие известные личности рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.

