.hero.hero-delivery
  margin-top: 150px
  .hero
    &__container

    &__title
      @include fontSize(32, 64)
      @media (max-width: 768px)
        text-align: center

    &__content
      display: grid
      grid-template-columns: 65% auto
      gap: 40px
      @media (max-width: 1400px)
        grid-template-columns: 1fr

    &__content-tabs
      display: grid
      grid-template-columns: 45% auto
      @media (max-width: 768px)
        grid-template-columns: 1fr
        border-radius: 8px
        overflow: hidden



    &-nav
      background-color: $frosted-top
      @media (max-width: 768px)
        order: 1
      &__title
        padding: 32px 40px
        @include fontSize(18, 40)
        &--mobile
          font-size: 18px
          display: none
          text-align: center
          padding: 12px
        @media (max-width: 768px)
          display: none
          &--mobile
            display: block

      &__list
        display: flex
        flex-direction: column

      &__item
        position: relative
        padding: 40px
        cursor: pointer
        border-left: 2px solid transparent
        &:hover,
        &.js-delivery-active
          box-shadow: inset 0px 0px 2px rgba(113, 200, 255, 0.24)
          backdrop-filter: blur(60px)
          border-color: $accent
        @media (max-width: 1200px)
          padding: 30px
        @media (max-width: 768px)
          padding: 24px 20px


      &__name
        @include fontSize(18, 24)

      &__number
        position: absolute
        left: -22px
        top: 50%
        color: $accent
        @include fontSize(18, 20)
        transform: translate(-100%, -50%)
        width: 25px
        @media (max-width: 1200px)
          left: -10px
        @media (max-width: 768px)
          display: none

    &-data
      background-color: rgba($frosted-top, 0.7)
      @media (max-width: 768px)
        padding: 0 4px 12px

      &__list
        display: none
        &.js-delivery-active
          display: block

      &__item
        display: flex
        flex-direction: column
        align-items: center
        padding: 35px
        @media (max-width: 768px)
          padding: 12px
          background-color: rgba($frosted-bottom, 0.7)
          border-radius: 8px
          box-shadow: 0px 0px 2px rgba(113, 200, 255, 0.16), inset 0px -4px 24px rgba(0, 0, 0, 0.24)

      &__image
        max-width: 260px
        width: 100%
        aspect-ratio: 1 / 1
        @media (max-width: 768px)
          max-width: 200px

      &-parameters__list
        width: 100%

      &-parameters__item
        display: flex
        justify-content: space-between
        gap: 20px
        padding: 12px 0
        &:not(:last-child)
          border-bottom: 1px solid #A7A7A74D


      &-parameters__name
        color: #A7A7A7

      &-parameters__value




    &-info
      display: flex
      flex-direction: column
      gap: 32px

      &__text-content
        display: flex
        flex-direction: column
        gap: 20px

      &__text
        @include fontSize(14, 16)

      &__notes
        display: flex
        flex-direction: column
        gap: 12px

      &__note-big
        @include fontSize(18, 20)
        margin-bottom: 12px

      &__note-small
        color: rgba(#fff, 0.6)
        @include fontSize(10, 12)


    &__button
      @media (max-width: 768px)
        order: -1




