.hero.hero-delivery
  .container.hero__container
    h1.hero__title Доставка
    .hero__content
      .hero__content-tabs
        .hero__nav.hero-nav
          h2.hero-nav__title Категории транспорта

          ul.hero-nav__list

            li.hero-nav__item.js-delivery-active(data-delivery-nav="1")
              u.hero-nav__number 01
              span.hero-nav__name Курьер

            li.hero-nav__item(data-delivery-nav="2")
              u.hero-nav__number 02
              span.hero-nav__name Газель

            li.hero-nav__item(data-delivery-nav="3")
              u.hero-nav__number 03
              span.hero-nav__name Фура

        .hero__data.hero-data
          h2.hero-nav__title--mobile Категории транспорта
          ul.hero-data__list.js-delivery-active(data-delivery-info="1")
            li.hero-data__item
              img.hero-data__image(src="./assets/img/delivery/02.png")
              ul.hero-data__parameters-list.hero-data-parameters__list
                li.hero-data-parameters__item
                  span.hero-data-parameters__name Предельный вес
                  span.hero-data-parameters__value 340 кг
                li.hero-data-parameters__item
                  span.hero-data-parameters__name Предельные габариты
                  span.hero-data-parameters__value 2 м
                li.hero-data-parameters__item
                  span.hero-data-parameters__name Расстояние
                  span.hero-data-parameters__value 400 км
                li.hero-data-parameters__item
                  span.hero-data-parameters__name Стоимость, от
                  span.hero-data-parameters__value 250 ₽ / км

          ul.hero-data__list(data-delivery-info="2")
            li.hero-data__item
              img.hero-data__image(src="./assets/img/delivery/03.png")
              ul.hero-data__parameters-list.hero-data-parameters__list
                li.hero-data-parameters__item
                  span.hero-data-parameters__name Предельный вес
                  span.hero-data-parameters__value 340 кг
                li.hero-data-parameters__item
                  span.hero-data-parameters__name Предельные габариты
                  span.hero-data-parameters__value 2 м
                li.hero-data-parameters__item
                  span.hero-data-parameters__name Расстояние
                  span.hero-data-parameters__value 400 км
                li.hero-data-parameters__item
                  span.hero-data-parameters__name Стоимость, от
                  span.hero-data-parameters__value 250 ₽ / км

          ul.hero-data__list(data-delivery-info="3")
            li.hero-data__item
              img.hero-data__image(src="./assets/img/delivery/02.png")
              ul.hero-data__parameters-list.hero-data-parameters__list
                li.hero-data-parameters__item
                  span.hero-data-parameters__name Предельный вес
                  span.hero-data-parameters__value 340 кг
                li.hero-data-parameters__item
                  span.hero-data-parameters__name Предельные габариты
                  span.hero-data-parameters__value 2 м
                li.hero-data-parameters__item
                  span.hero-data-parameters__name Расстояние
                  span.hero-data-parameters__value 400 км
                li.hero-data-parameters__item
                  span.hero-data-parameters__name Стоимость, от
                  span.hero-data-parameters__value 250 ₽ / км


      .hero__info.hero-info
        .hero-info__text-content
          p.hero-info__text Получение готового заказа является излишней проблемой заказчика. Нужно заниматься поиском транспортной компании, еще труднее найти ту, которой можно доверить свой груз, особенно когда стоимость груза высока. Мало кому захочется доверить данную работу незнакомой транспортной компании.
          p.hero-info__text Забота о клиенте, после того, как выполнен заказ, является для нас необходимой задачей. Мы поможем заказчику, находящемуся в любой точке мира, получить свой заказ в срок. Своевременная и качественная доставка готовой продукции залог успешной работы нашей компании.
        .hero-info__notes
          span.hero-info__note-big * При суммарных габаритах партии не более 99 м3 и массе не более 2000 кг.
          p.hero-info__note-small При заказе от 3500 единиц изделий - доставка бесплатна*.

        a.hero__button.button.file.button--outline(href="") Скачать таблицу цен




