//mixin partnersItem(src)
//  li.partners__item
//    img.partners__logo(src=src)


.partners
  .container.partners__container
    h2.title-section Партнеры
    ul.partners__list
      +partnersItem("assets/img/partners/01.svg")
      +partnersItem("assets/img/partners/02.svg")
      +partnersItem("assets/img/partners/03.svg")
      +partnersItem("assets/img/partners/04.svg")
      +partnersItem("assets/img/partners/05.svg")
      +partnersItem("assets/img/partners/06.svg")
      +partnersItem("assets/img/partners/07.svg")
      +partnersItem("assets/img/partners/08.svg")
      +partnersItem("assets/img/partners/09.svg")
      +partnersItem("assets/img/partners/10.svg")
      +partnersItem("assets/img/partners/11.svg")
      +partnersItem("assets/img/partners/12.svg")
      +partnersItem("assets/img/partners/07.svg")
      +partnersItem("assets/img/partners/13.svg")
      +partnersItem("assets/img/partners/14.svg")
      +partnersItem("assets/img/partners/15.svg")
      +partnersItem("assets/img/partners/16.svg")
      +partnersItem("assets/img/partners/17.svg")
      +partnersItem("assets/img/partners/18.svg")
      +partnersItem("assets/img/partners/19.svg")
