.also-interesting.also-interesting-laser-cutting
  .container.also-interesting__container
    h2.title-section Вам также могут быть интересны


    .also-interesting-laser-cutting__slider
      ul.also-interesting__list.swiper-wrapper

        li.also-interesting__item.also-interesting-item.swiper-slide
          .also-interesting-item__image
            img.static(src="/assets/img/service/05.jpg")
            img.animate(src="/assets/img/service/05.gif")
          .also-interesting-item__name Металлоконструкции
          .also-interesting-item__price -- от 6,90 ₽ / метр
          a(href="").also-interesting-item__link.button.arrow.button--bg-grey Смотреть услугу

        li.also-interesting__item.also-interesting-item.swiper-slide
          .also-interesting-item__image
            img.static(src="/assets/img/service/02.jpg")
            img.animate(src="/assets/img/service/02.gif")
          .also-interesting-item__name Гибка
          .also-interesting-item__price -- от 6,90 ₽ / метр
          a(href="").also-interesting-item__link.button.arrow.button--bg-grey Смотреть услугу

        li.also-interesting__item.also-interesting-item.swiper-slide
          .also-interesting-item__image
            img.static(src="/assets/img/service/03.jpg")
            img.animate(src="/assets/img/service/03.gif")
          .also-interesting-item__name Порошковая покраска
          .also-interesting-item__price -- от 6,90 ₽ / метр
          a(href="").also-interesting-item__link.button.arrow.button--bg-grey Смотреть услугу

        li.also-interesting__item.also-interesting-item.swiper-slide
          .also-interesting-item__image
            img.static(src="/assets/img/service/01.jpg")
            img.animate(src="/assets/img/service/01.gif")
          .also-interesting-item__name Лазерная резка
          .also-interesting-item__price -- от 6,90 ₽ / метр
          a(href="").also-interesting-item__link.button.arrow.button--bg-grey Смотреть услугу

        li.also-interesting__item.also-interesting-item.swiper-slide
          .also-interesting-item__image
            img.static(src="/assets/img/service/04.jpg")
            img.animate(src="/assets/img/service/04.gif")
          .also-interesting-item__name Слесарные работы
          .also-interesting-item__price -- от 6,90 ₽ / метр
          a(href="").also-interesting-item__link.button.arrow.button--bg-grey Смотреть услугу

      .swiper-pagination
