footer.footer
  .footer__container
    a.footer__logo
      svg(width="262" height="60")
        use(href='assets/img/sprite.svg#footer-logo')
      span.footer__logo-text Металлообработка на заказ

    ul.footer__documents.footer-documents
      li.footer-documents__item
        a.footer-documents__link(href="") Скачать договор оказания услуг
      li.footer-documents__item
        a.footer-documents__link(href="") Скачать договор поставки

    .footer-requisites «ООО «Спирит-Бер», 2016-2022. Все права защищены.» Реквизиты: ИНН 7735186587, ОГРН 1207700015753


    mixin footerNavItem(link, text)
      li.footer-nav__item
        a.footer-nav__link(href=link)=text

    .footer__nav.footer-nav.footer-nav--services
      h4.footer-nav__title Услуги
      ul.footer-nav__list
        +footerNavItem('/', 'Лазерная резка металла')
        +footerNavItem('/', 'Гибка листового металла')
        +footerNavItem('/', 'Порошковая покраска')
        +footerNavItem('/', 'Слесарные работы')
        +footerNavItem('/', 'Изготовление металлоконструкций')

    .footer__nav.footer-nav.footer-nav--info
      h4.footer-nav__title Информация
      ul.footer-nav__list
        +footerNavItem('/', 'Карта сайта')
        +footerNavItem('/', 'Политика обработки персональных данных')
        +footerNavItem('/', 'Электронный документоооборот')

    .footer__nav.footer-nav.footer-nav--about
      h4.footer-nav__title О компании
      ul.footer-nav__list
        +footerNavItem('/', 'Производство')
        +footerNavItem('career.html', 'Вакансии')
        +footerNavItem('/', 'Реквезиты')
        +footerNavItem('edo.html', 'Электронный документооборот')
        +footerNavItem('contacts.html', 'Контакты')
        +footerNavItem('delivery.html', 'Доставка')
        +footerNavItem('/', 'Реквизиты')

    .footer__nav.footer-nav.footer-nav--contact
      h4.footer-nav__title Контакты
      ul.footer-nav__list
        +footerNavItem('tel:+74999940097', '+7 (499) 994-00-97')
        +footerNavItem('mailto:sales@spirit-bear.ru', 'sales@spirit-bear.ru')
        +footerNavItem('', 'Московская область, г.о.Солнечногорск, деревня Пешки, цех № 22')
        +footerNavItem('', `Пн - Пт с 09:00 до 18:00, Сб - Вс выходной`)



include ../_items/reply-popup/reply-popup
include ../feedback/feedback-popup/feedback-popup




