.container
  .certificates
    .certificates__container
      h2.title-section Сертификаты

      .certificates__list
        a.certificates__item(data-src="./assets/img/certificates/01.jpg" data-fancybox="gallery")
          img(src="./assets/img/certificates/01.jpg")
        a.certificates__item(data-src="./assets/img/certificates/02.jpg" data-fancybox="gallery")
          img(src="./assets/img/certificates/02.jpg")
        a.certificates__item(data-src="./assets/img/certificates/03.jpg" data-fancybox="gallery")
          img(src="./assets/img/certificates/03.jpg")
        a.certificates__item(data-src="./assets/img/certificates/04.jpg" data-fancybox="gallery")
          img(src="./assets/img/certificates/04.jpg")
        a.certificates__item(data-src="./assets/img/certificates/05.png" data-fancybox="gallery")
          img(src="./assets/img/certificates/05.png")
        a.certificates__item(data-src="./assets/img/certificates/06.png" data-fancybox="gallery")
          img(src="./assets/img/certificates/06.png")



