.container
  .about-advantages
    .about-advantages__container
      h2.title-section Наши  преимущества

      .about-advantages__content

        ul.about-advantages__list.swiper-wrapper

          li.about-advantages__item.about-advantages-item.swiper-slide
            p.about-advantages-item__title Скорость
            ol.about-advantages-item__content
              li.about-advantages-item__description Для партнеров, постоянных клиентов и крупных заказчиков компании действуют индивидуальные скидки и условия по срокам производства.
              li.about-advantages-item__description Для наших клиентов и партнеров в мае 2018 года запущен проект по созданию онлайн калькулятора по самым востребованным услугам, способный быстро рассчитать максимально приближенную к истине стоимость изделий.

          li.about-advantages__item.about-advantages-item.swiper-slide
            p.about-advantages-item__title Качество
            ol.about-advantages-item__content
              li.about-advantages-item__description Оборудование, на котором работает наша компания, оснащено ЧПУ и позволяет минимизировать человеческий фактор в работе, сводя к нулю процент бракованной продукции.
              li.about-advantages-item__description У каждого клиента нашей компании есть личный менеджер, который полностью осведомлен о ходе выполнения его заказов и в любое время сможет ответить на возникшие вопросы клиента.

          li.about-advantages__item.about-advantages-item.swiper-slide
            p.about-advantages-item__title Низкие цены
            ol.about-advantages-item__content
              li.about-advantages-item__description Передовое оборудование позволяет компании брать сложные и крупные заказы и давать низкие цены в Москве и Московской области на услуги металлообработки.
              li.about-advantages-item__description Наши специалисты стараются максимально компактно раскладывать изделия при работе с листовым металлом, за счет чего расходуемый материал может сокращаться в несколько раз, при этом качество изделий не будет страдать.


          li.about-advantages__item.about-advantages-item.swiper-slide
            p.about-advantages-item__title Гибкая система ценообразования
            ol.about-advantages-item__content
              li.about-advantages-item__description Для партнеров, постоянных клиентов и крупных заказчиков компании действуют индивидуальные скидки и условия по срокам производства.
              li.about-advantages-item__description Для наших клиентов и партнеров в мае 2018 года запущен проект по созданию онлайн калькулятора по самым востребованным услугам, способный быстро рассчитать максимально приближенную к истине стоимость изделий.


        .swiper-pagination
