.about-advantages
  .container.about-advantages__container
    h2.title-section Наши  преимущества

    .about-advantages__content

      ul.about-advantages__list.swiper-wrapper

        li.about-advantages__item.about-advantages-item.swiper-slide
          p.about-advantages-item__title Скорость
          ul.about-advantages-item__content
            li.about-advantages-item__description
              span.about-advantages-item__description-number 01
              p.about-advantages-item__description-text Для партнеров, постоянных клиентов и крупных заказчиков компании действуют индивидуальные скидки и условия по срокам производства.

            li.about-advantages-item__description
              span.about-advantages-item__description-number 02
              p.about-advantages-item__description-text Для наших клиентов и партнеров в мае 2018 года запущен проект по созданию онлайн калькулятора по самым востребованным услугам, способный быстро рассчитать максимально приближенную к истине стоимость изделий.

        li.about-advantages__item.about-advantages-item.swiper-slide
          p.about-advantages-item__title Качество
          ul.about-advantages-item__content
            li.about-advantages-item__description
              span.about-advantages-item__description-number 01
              p.about-advantages-item__description-text Для партнеров, постоянных клиентов и крупных заказчиков компании действуют индивидуальные скидки и условия по срокам производства.

            li.about-advantages-item__description
              span.about-advantages-item__description-number 02
              p.about-advantages-item__description-text Для наших клиентов и партнеров в мае 2018 года запущен проект по созданию онлайн калькулятора по самым востребованным услугам, способный быстро рассчитать максимально приближенную к истине стоимость изделий.

        li.about-advantages__item.about-advantages-item.swiper-slide
          p.about-advantages-item__title Низкие цены
          ul.about-advantages-item__content
            li.about-advantages-item__description
              span.about-advantages-item__description-number 01
              p.about-advantages-item__description-text Для партнеров, постоянных клиентов и крупных заказчиков компании действуют индивидуальные скидки и условия по срокам производства.

            li.about-advantages-item__description
              span.about-advantages-item__description-number 02
              p.about-advantages-item__description-text Для наших клиентов и партнеров в мае 2018 года запущен проект по созданию онлайн калькулятора по самым востребованным услугам, способный быстро рассчитать максимально приближенную к истине стоимость изделий.


        li.about-advantages__item.about-advantages-item.swiper-slide
          p.about-advantages-item__title Гибкое ценообразование
          ul.about-advantages-item__content
            li.about-advantages-item__description
              span.about-advantages-item__description-number 01
              p.about-advantages-item__description-text Для партнеров, постоянных клиентов и крупных заказчиков компании действуют индивидуальные скидки и условия по срокам производства.

            li.about-advantages-item__description
              span.about-advantages-item__description-number 02
              p.about-advantages-item__description-text Для наших клиентов и партнеров в мае 2018 года запущен проект по созданию онлайн калькулятора по самым востребованным услугам, способный быстро рассчитать максимально приближенную к истине стоимость изделий.


      .swiper-pagination
