.price-formation

  .accordion
    .accordion__container

      .accordion__header
        button.accordion__close
          svg(width="12" height="12" fill="#fff")
            use(href='./assets/img/sprite.svg#close')

        h2.accordion__header-title Формирование цены
        p.accordion__header-text Цех нашей компании Спирит-Бер, оснащен современным комплексом лазерного раскроя, который позволяет выполнять заказы любой сложности в сжатые сроки, на самом высоком уровне и предлагать одни из самых низких цен за метр лазерной резки. Наше оборудование позволяет сильно экономить расход материала, что в свою очередь влияет на конечную стоимость Вашего заказа. Цена за метр лазерной резки металла будет зависеть от следующих факторов:


      ol.accordion__list

        li.accordion__item
          p.accordion__title Разносортность сплавов
          p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

        li.accordion__item
          p.accordion__title Свойства и толщина сплавов
          p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

        li.accordion__item
          p.accordion__title Сроки
          p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

        li.accordion__item
          p.accordion__title Объем партии
          p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

