.hero.hero-career(style="background-image: url(./assets/img/career/bg-hero.jpg)")
  .container.hero__container
    h1.hero__title Работа в Спирит Бер
    p.hero__subtitle Сотрудники нашей компании - наибольшее богатство, которое у нас есть.

    .hero__text-content
      p.hero__text Мы с радостью принимаем в наши ряды профессионалов своего дела и начинающих специалистов. В нашей компании большое внимание отводится обучению сотрудников, вливанию их в коллектив и созданию условий для плодотворной работы.
      p.hero__text Обширная клиентская база и возможность компании брать крупные заказы обеспечивают работникам стабильный и привлекательный заработок, а также предоставляют перспективу для дальнейшего профессионального развития и карьерного роста.
    a.button.button--bg-accept Откликнуться
