.vacancy
  .container.vacancy__container

    h2.title-section.vacancy__title Активные вакансии

    .vacancy__main.vacancy-main
      .vacancy-main__text Мы ценим открытость и любовь к своей работе, но не приемлем халтурное отношение к своим обязанностям. Если вы активный и целеустремленный человек, готовый к работе – вы нам подходите!
      ul.vacancy__contacts
        li.vacancy__contact.vacancy-contact
          span.vacancy-contact__title Телефон
          a.vacancy-contact__number.vacancy-contact__link(href="tel:+74999940097") +7 (499) 994-00-97
          span.vacancy-contact__timetable пн-пт с 09:00 до 18:00

        li.vacancy__contact.vacancy-contact
          span.vacancy-contact__title HR-отдел
          .vacancy-contact__email
            a.vacancy-contact__email-link.vacancy-contact__link(href="mailto:career@spirit-bear.ru") career@spirit-bear.ru
            +copyTextButton
          span.vacancy-contact__timetable пн-пт с 09:00 до 18:00

        button.button.button--bg-accept.button-popup Откликнуться


    .accordion
      .accordion__container
        ol.accordion__list

          li.accordion__item
            p.accordion__title Бухгалтер
            .accordion__content.accordion-content

              .accordion-content__section.accordion-content__section--left
                p.accordion-content__title Требования
                ul
                  li Коммуникабельность, целеустремленность, активность
                  li Грамотная и уверенная речь
                  li Уверенный пользователь ПК
                  li Опыт работы от 1 года
                  li Приветствуется опыт работы в металлообрабатывающих компаниях

              .accordion-content__section
                p.accordion-content__title Условия
                ul
                  li Работа в офисе Работодателя в г. Химки, мкрн. Сходня
                  li Оформление по ТК РФ
                  li Испытательный срок 3 месяца
                  li График работы 5/2 с 9-00 до 18-00, обед 1 час в период с 12:00 до 15:00
                  li Оплата труда - 35 000 ₽

              .accordion-content__section.accordion-content__section--right
                p.accordion-content__title Обязанности
                ul
                  li Ведение бухгалтерского учета в полном объеме
                  li Отслеживание и сверка взаиморасчетов с поставщиками и покупателями, контроль дебиторской и кредиторской задолженности
                  li Расчет заработной платы и предоставление отчетности по НДФЛ, страховым взносам
                  li Подготовка налоговой отчетности, ПФР, ФСС. Формирование книги продаж/покупок и контроль за входящими и исходящими счетами-фактурами в соответствии с требованиями НК РФ
                  li Работа в системе Банк-клиент и 1 С бухгалтерия
                  li Учет ОС и материалов, проведение инвентаризаций



          li.accordion__item
            p.accordion__title Оператор лазерного станка
            .accordion__content.accordion-content
              .accordion-content__section.accordion-content__section--left
                p.accordion-content__title Требования
                ul
                  li Коммуникабельность, целеустремленность, активность
                  li Грамотная и уверенная речь
                  li Уверенный пользователь ПК
                  li Опыт работы от 1 года
                  li Приветствуется опыт работы в металлообрабатывающих компаниях

              .accordion-content__section
                p.accordion-content__title Условия
                ul
                  li Работа в офисе Работодателя в г. Химки, мкрн. Сходня
                  li Оформление по ТК РФ
                  li Испытательный срок 3 месяца
                  li График работы 5/2 с 9-00 до 18-00, обед 1 час в период с 12:00 до 15:00
                  li Оплата труда - 35 000 ₽

              .accordion-content__section.accordion-content__section--right
                p.accordion-content__title Обязанности
                ul
                  li Ведение бухгалтерского учета в полном объеме
                  li Отслеживание и сверка взаиморасчетов с поставщиками и покупателями, контроль дебиторской и кредиторской задолженности
                  li Расчет заработной платы и предоставление отчетности по НДФЛ, страховым взносам
                  li Подготовка налоговой отчетности, ПФР, ФСС. Формирование книги продаж/покупок и контроль за входящими и исходящими счетами-фактурами в соответствии с требованиями НК РФ
                  li Работа в системе Банк-клиент и 1 С бухгалтерия
                  li Учет ОС и материалов, проведение инвентаризаций

          li.accordion__item
            p.accordion__title Менеджер в отдел продаж по услугам металлообработки
            .accordion__content.accordion-content
              .accordion-content__section.accordion-content__section--left
                p.accordion-content__title Требования
                ul
                  li Коммуникабельность, целеустремленность, активность
                  li Грамотная и уверенная речь
                  li Уверенный пользователь ПК
                  li Опыт работы от 1 года
                  li Приветствуется опыт работы в металлообрабатывающих компаниях

              .accordion-content__section
                p.accordion-content__title Условия
                ul
                  li Работа в офисе Работодателя в г. Химки, мкрн. Сходня
                  li Оформление по ТК РФ
                  li Испытательный срок 3 месяца
                  li График работы 5/2 с 9-00 до 18-00, обед 1 час в период с 12:00 до 15:00
                  li Оплата труда - 35 000 ₽

              .accordion-content__section.accordion-content__section--right
                p.accordion-content__title Обязанности
                ul
                  li Ведение бухгалтерского учета в полном объеме
                  li Отслеживание и сверка взаиморасчетов с поставщиками и покупателями, контроль дебиторской и кредиторской задолженности
                  li Расчет заработной платы и предоставление отчетности по НДФЛ, страховым взносам
                  li Подготовка налоговой отчетности, ПФР, ФСС. Формирование книги продаж/покупок и контроль за входящими и исходящими счетами-фактурами в соответствии с требованиями НК РФ
                  li Работа в системе Банк-клиент и 1 С бухгалтерия
                  li Учет ОС и материалов, проведение инвентаризаций




