.vacancy

  &__container
    display: grid
    grid-template-columns: 2fr 1fr
    column-gap: 40px
    @media (max-width: $width-mobile)
      grid-template-columns: 1fr

  &__title
    grid-column: 2 / span 1
    text-align: left
    @media (max-width: $width-mobile)
      grid-column: 1 / -1
      grid-row: span 1
      text-align: center

  &-main
    grid-column: 2 / span 1
    @media (max-width: $width-mobile)
      grid-column: 1 / -1
    &__text
      @include fontSize(14, 16)

  &__contacts
    display: flex
    flex-direction: column
    gap: 24px
    margin-top: 24px

  &-contact
    position: relative
    display: flex
    flex-direction: column

  &-contact__title
    margin-bottom: 8px

  &-contact__link
    color: $accent
    @include fontSize(14, 16)
  &-contact__timetable
    color: rgba(#fff, 0.4)
    font-size: 12px

  &-contact__button-copy
    @media (max-width: 480px)
      width: 44px
      aspect-ratio: 1 / 1
      position: absolute
      right: 20px
      border-radius: 4px
      border: 1px solid $accent



  .accordion
    grid-column: span 1
    grid-row: 1 / span 2
    @media (max-width: $width-mobile)
      grid-column: 1 / -1
      grid-row: 2 / span 1
      margin-bottom: 90px

    &-content
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: 15px 25px
      @media (max-width: 768px)
        display: flex
        flex-direction: column

      &__demands--left
        grid-column: span 1
      &__demands--right
        grid-column: 2 / span 1
        grid-row: span 2
      &__terms
        grid-column: span 1
        grid-row: 2 / span 1

      &__title
        margin-bottom: 16px
        @include fontSize(14, 20)

      &__list
        list-style-type: disc
        display: flex
        flex-direction: column
        gap: 10px
        padding-left: 20px

      &__item
        @include fontSize(14, 16)
