.news
  .container.news__container
    h2.title-section Новости Спирит Бер
    a(href="").button.button--outline Читать все новости

    .news__list

      a(href="").news__item
        img.news__image(src='./assets/img/news/06.jpg')
        h3.news__title Aisi 304 и 430: отличия
        time.news__date 14 июля 2022 г.
        span.news__tag Статьи
        span.news__link Подробнее

      a(href="").news__item
        img.news__image(src='./assets/img/news/02.jpg')
        h3.news__title Технологии металлообработки
        time.news__date 14 июля 2022 г.
        span.news__tag Статьи
        span.news__link Подробнее

      a(href="").news__item
        img.news__image(src='./assets/img/news/03.jpg')
        h3.news__title Порошковая покраска: состав, виды, области применения
        time.news__date 14 июля 2022 г.
        span.news__tag Статьи
        span.news__link Подробнее

      a(href="").news__item
        img.news__image(src='./assets/img/news/04.jpg')
        h3.news__title Обзор и сравнение CO2- и волоконных лазеров
        time.news__date 14 июля 2022 г.
        span.news__tag Статьи
        span.news__link Подробнее

      a(href="").news__item
        img.news__image(src='./assets/img/news/05.png')
        h3.news__title Обработка нержавеющей стали
        time.news__date 14 июля 2022 г.
        span.news__tag Статьи
        span.news__link Подробнее

      a(href="").news__item
        img.news__image(src='./assets/img/news/06.jpg')
        h3.news__title Резка металла: виды и особенности
        time.news__date 14 июля 2022 г.
        span.news__tag Статьи
        span.news__link Подробнее

      a(href="").news__item
        img.news__image(src='./assets/img/news/07.jpg')
        h3.news__title Виды резки металла
        time.news__date 14 июля 2022 г.
        span.news__tag Статьи
        span.news__link Подробнее

      a(href="").news__item
        img.news__image(src='./assets/img/news/08.jpg')
        h3.news__title Технологии процесса полимерного покрытия
        time.news__date 14 июля 2022 г.
        span.news__tag Статьи
        span.news__link Подробнее




