.accordion
  &__container
    max-width: 1048px
    margin: 0 auto



  &__list
    display: flex
    flex-direction: column
    background-color: $frosted-top
    border-radius: 8px
    box-shadow: inset 0px 0px 2px rgba(113, 200, 255, 0.25)
    filter: drop-shadow(0px 251px 100px rgba(24, 26, 27, 0.04)) drop-shadow(0px 141px 85px rgba(24, 26, 27, 0.13)) drop-shadow(0px 63px 63px rgba(24, 26, 27, 0.21)) drop-shadow(0px 16px 34px rgba(24, 26, 27, 0.25)) drop-shadow(0px 0px 0px rgba(24, 26, 27, 0.25))

  &__item
    padding: 12px
    @media (max-width: 768px)
      padding: 12px 10px
    &.js-accordion-active .accordion__content
      padding: 30px
      max-height: 1000px
      @media (max-width: 768px)
        padding: 20px
        max-height: 500px
        overflow: auto
        &::-webkit-scrollbar
          width: 0
          height: 0
    &.js-accordion-active .accordion__title,
    &:hover .accordion__title
      color: #fff
    &.js-accordion-active .accordion__title svg
      transform: rotate(90deg)
    &.js-accordion-active .accordion__number,
    &:hover .accordion__number
      color: $accent
    &.js-accordion-active
      box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.08), 0px 8px 10px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), inset 0px 0px 2px rgba(113, 200, 255, 0.24)

  &__number
    position: absolute
    transform: translate(-100%, -50%)
    left: -40px
    top: 50%
    font-family: 'SpaceGrotesk', sans-serif
    color: rgba($accent, 0.6)
    @include fontSize(20, 24)
    @media (max-width: 1200px)
      display: none


  &__title
    @include fontSize(14, 24)
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    column-gap: 20px
    padding: 30px 20px
    cursor: pointer
    color: rgba(#fff, 0.6)
    @media (max-width: 768px)
      padding: 15px 0
    & svg
      transition: 0.3s ease
      flex: 0 0 10px
      fill: currentColor



  &__content
    @include fontSize(14, 16)
    background-color: $frosted-bottom
    border-radius: 8px
    box-shadow: 0 0 2px rgba(113, 200, 255, 0.16), inset 0px -4px 24px rgba(0, 0, 0, 0.24)
    backdrop-filter: blur(6px)
    max-height: 0
    padding: 0 30px
    overflow: hidden
    transition: 0.3s ease
    @media (max-width: 768px)
      padding: 0 20px

    &-link
      color: $accent


