// пример разметки
.accordion
  .accordion__container
    ol.accordion__list

      li.accordion__item
        p.accordion__title Я ознакомился со всей справочной информацией, но так и не понял, как до вас добраться. Что мне делать?
        p.accordion__content Обратитесь к нашим специалистам за помощью по телефону:
          a.accordion__content-link(href="tel:+74999940097") &#160; +7 (499) 994-00-97
          | &#160;или по мобильному номеру менеджера, ведущего Ваши заказы. Вам обязательно подскажут как добраться до нас и будут с Вами на связи вплоть до Вашего прибытия.

      li.accordion__item
        p.accordion__title У меня нет чертежей, возможно у вас их заказать?
        p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.

      li.accordion__item
        p.accordion__title Есть ли у вас доставка?
        p.accordion__content Мы всегда идем навстречу клиенту и стараемся найти выход из текущего положения Заказчика. В некоторых случаях мы допускаем возможность пропустить его вне очереди и работать в ускоренном режиме.
